.adv {
  display: flex;
  flex-direction: column;

  @include border-left( whiten($secondary, 1) );

  &--stretched {
    height: 100%;
  }

  &.carousel__slide {
    height: auto;
    min-height: 100%;
  }

  &__kicker {
    @include item-kicker;

    margin-bottom: 12px;
  }

  &__title {
    @include heading(5);

    font-weight: 600;

    a:hover {
      color: var(--primary-dark-2);
    }
  }

  &__text {
    @include typoscale(1, 1.625, 1, 1);

    font-family: $sans;
    font-weight: 300;
    hanging-punctuation: first last;

    a {
      color: $support;
      text-decoration: underline;
    }
  }

  &__btn {
    margin-top: auto;

    & a {
      @include special-link(true, false, 0.25, 0);
    }
  }
}
