.article {
  &--stretched {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__image {
    @include responsive-media-wrapper(3, 2);

    margin-bottom: 16px;

    &--1-1::before {
      padding-top: 100%;
    }

    &--16-9::before {
      padding-top: percentage(9/16);
    }

    a {
      transition: opacity linear 0.1s;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  // &--summary &__image {
  //   display: none;
  // }

  &__meta {
    @include item-kicker('inherit');

    margin-bottom: 12px;
    display: flex;
    flex-wrap: nowrap;
  }

  &__icon {
    display: inline-block;
    flex: 0 0 20px;
    margin-right: 0.75rem;
  }

  &__kicker {
    flex: 0 1 auto;
    display: inline-block;
    color: $secondary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 1rem;

    a {
      display: none; //Prevent displaying multiple links
      color: $text-color;
      font-family: $mono;
      font-size: 0.875rem;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
      padding-bottom: 2px;
      border-bottom: 2px solid $secondary;
      margin-right: 1rem;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        color: var(--primary-dark-2);
        border-bottom-color: var(--secondary-dark-2);
      }

      &:first-child {
        display: inline-block;
      }
    }
  }

  &__date {
    font-family: $mono;
    font-weight: 400;
    letter-spacing: -0.7px;
  }

  &__topic + &__date {
    margin-left: 1rem;
  }

  &__title {
    @include heading(5);

    font-weight: 600;

    //Legacy: used to be title 4 weight 400
    &--medium {
      @include heading(4);

      letter-spacing: -0.3px;
    }

    &--large {
      @include heading(2);
    }

    a:hover {
      color: var(--primary-dark-2);
    }
  }

  &__text {
    @include typoscale(1, 1.625, 1, 1);

    font-family: $sans;
    font-weight: 300;
    hanging-punctuation: first last;

    a {
      color: $support;
      text-decoration: underline;
    }
  }

  &__btn {
    margin-top: auto;

    a {
      @include special-link(true, false, 0, 1);

      margin-right: 1.5rem;
    }
  }
}
