.big-data {
  @include border-left( whiten($secondary,1) );

  &__kicker {
    @include item-kicker();

    display: block;
    margin-bottom: 16px;
  }

  &__item {
    display: block;

    @include heading(6);

    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__number {
    display: inline-block;
    font-family: $sans;
    font-size: 1.25em;
    font-weight: 500;
    color: $secondary;
    margin-right: 0.25rem;
    vertical-align: baseline;
  }
}
