.blog-post {
  display: flex;
  flex-direction: row;

  &__image-wrapper {
    flex: 0 0 90px;
    margin-right: 20px;
  }

  &__image {
    @include responsive-media-wrapper(1,1);

    border-radius: 100%;

    a {
      transition: opacity linear 0.1s;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__title {
    @include heading(6);

    font-weight: 600;
    margin-bottom: 8px;

    a:hover {
      color: var(--primary-dark-2);
    }
  }

  &__date {
    display: inline-block;
    margin-bottom: 8px;

    a:hover {
      color: var(--primary-dark-2);
    }
  }

  &__author {
    display: inline-block;
    font-weight: 600;
    margin-bottom: 8px;

    a:hover {
      color: var(--primary-dark-2);
    }
  }

  &__date + &__author::before {
    content: ' · ';
    margin-left: 4px;
    margin-right: 4px;
  }

  &__topic {
    margin-top: 16px;
    margin-bottom: 24px;
  }

  &__link {
    margin-top: 16px;
    display: block;
    font-weight: 500;

    &:hover {
      color: var(--primary-dark-2);
    }

    &::after {
      content: '→';
      margin-left: 8px;
      display: inline-block;
      vertical-align: sup;
    }
  }
}
