.highlight {
  padding-top: 24px;

  &__wrapper {
    background-color: white;
    padding: 24px;
    margin-left: 24px;
    max-width: 480px;
  }

  &__image {
    margin-left: -48px;
    margin-top: -48px;
    position: relative;
    overflow: hidden;

    @include responsive-media-wrapper(1,1);
    @include distance('margin-bottom', 'mini');

    a::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      background: #fff;
      transition: opacity linear 0.1s;
    }

    &:hover {
      a::after {
        opacity: 0.2;
      }
    }
  }

  &__kicker {
    @include item-kicker();

    margin-bottom: 16px;
  }

  &__title {
    @include heading(4);

    font-weight: 600;
    margin-bottom: 16px;

    a:hover {
      color: var(--primary-dark-2);
    }
  }

  &__text {
    @include distance('margin-bottom', 'medium' );
  }

  &__btn {
    a {
      @include special-link(true, false, 0.25, 0);
    }
  }
}
