.reading {
  width: 100%;
  //max-width: 320px;

  &--stretched {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
    flex: 1 1 100%;
  }

  &__image {
    @include responsive-media-wrapper(2,3);

    display: block;
    width: 100%;
    max-width: 270px;
    background-color: whiten($primary, 5);
    box-shadow: 4px 4px 0 whiten($secondary, 1);

    @include distance('margin-bottom', 'small');

    svg {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transform: translateX(-50%);
      height: 40rem;
      fill: currentColor;
      opacity: 0.1;
    }

    a {
      transition: opacity linear 0.1s;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__title {
    @include heading(5);

    font-weight: 600;
    margin-bottom: 0.5rem;

    a:hover {
      color: var(--primary-dark-2);
    }
  }

  &__author {
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 4px;
  }

  &__publisher {
    font-size: 0.875rem;
  }

  &__content {
    @include border-left(whiten($secondary, 1));

    padding-right: 10px;
  }

  &--stretched &__content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  &__text {
    padding-top: 2rem;
    font-weight: 300;
  }
}
