.topic {
  &__wrapper {
    position: relative;
    background: $primary;
    color: $white;

    @include media(">=s") {
      padding-top: 100%;
    }
  }

  &__image {
    display: none;
    width: 100%;

    @include media(">=s") {
      @include responsive-media-wrapper(1,1);

      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      img {
        opacity: 0;
        transition: opacity 0.2s;
      }
    }
  }

  &:hover &__image img {
    @include media(">=s") {
      opacity: 0.4;
    }
  }

  &__content {
    padding: 48px 24px 24px 24px;

    @include media(">=s") {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }

  &--small &__content {
    margin-top: auto;
    padding: 16px;

    @include media(">=m") {
      padding: 36px 24px 24px 24px;
    }
  }

  &__header {
    margin-bottom: auto;

    &--bottom {
      margin-top: auto;
      margin-bottom: 0;
    }
  }

  &__kicker {
    @include item-kicker($white);

    margin-bottom: 8px;
  }

  &__title {
    @include heading(1);

    font-weight: 600;
    margin-bottom: 16px;

    a:hover {
      color: var(--primary-light-5);
    }
  }

  &--small &__title {
    @include heading(4);

    font-weight: 600;
  }

  &__text {
    @include media('>=m') {
      font-size: 1.25rem;
    }

    font-weight: 300;
    line-height: 1.7;
    word-wrap: break-word;
  }

  &--small &__text,
  &--small &__text p,
  &--text-small &__text,
  &--text-small &__text p {
    font-size: 0.875rem;
    font-weight: 400;

    @include media('>=m') {
      font-size: 1rem;
    }
  }

  &--small &__text {
    line-height: 1.25;
  }

  &__btn {
    a {
      @include special-link(false, true, 1, 0);

      margin-right: 1.5rem;

      //Temp: revert special link mixin
      &:first-child {
        margin-top: 1rem;
      }
    }
  }

  &--small &__btn,
  &--text-small &__btn {
    a {
      font-size: 1rem;
    }
  }
}
