//Size h1 like h2, h2 like h3, etc.: includes margins
@mixin smaller-headings() {
  @for $i from 1 through 5 {
    $level: $i + 1;
    $heading: map-get($headings, h#{$level});
    $mobile-props: nth($heading, 1);
    $props: nth($heading, 2);

    h#{$i},
    .h#{$i} {
      @include typoscale(nth($heading, 1)...);

      @include media(">=m") {
        @include typoscale(nth($heading, 2)...);
      }
    }
  }
}
