{% extends 'partials/_base.njk' %}
{% set current_category = 'items' %}
{% set current_item = 'adv' %}

{% block content %}
  <section class="p-bottom--huge p-top--huge" style="background-color: #fff;">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-xs-6 col-12">
          <div class="adv adv--stretched">
            <div class="adv__title">
              <a href="">Come riconoscere una chiamata</a>
            </div>
            <div class="adv__text text">Ogni essere umano fa esperienza di essere chiamato dal Signore. Scopri come riconoscere la tua vocazione. Testo più lungo degli altri.</div>
            <div class="adv__btn">
              <a href="">Approfondisci</a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-xs-6 col-12">
          <div class="adv adv--stretched">
            <div class="adv__title">
              <a href="">Perché proprio la compagnia</a>
            </div>
            <div class="adv__text text">
              <p>Nella Chiesa esistono molti istituti e ordini religiosi. Ognuno ha un proprio carisma specifico che lo caratterizza.</p>
              <p>Second paragraph test</p>
            </div>
            <div class="adv__btn">
              <a href="">Approfondisci</a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-xs-6 col-12">
          <div class="adv adv--stretched">
            <div class="adv__title">
              <a href="">Requisiti per entrare in Compagnia</a>
            </div>
            <div class="adv__text text">No, non serve una laurea, come molti pensano. Non ci sono requisiti veri e propri che devi avere. Solo alcune attitudini.</div>
            <div class="adv__btn">
              <a href="">Approfondisci</a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-xs-6 col-12">
          <div class="adv adv--stretched">
            <div class="adv__title">
              <a href="">I passi del cammino vocazionale</a>
            </div>
            <div class="adv__text text">Se vuoi fare un cammino di discernimento vocazionale per entrare in Compagnia, ci sono alcuni passi da fare con ordine.</div>
            <div class="adv__btn" style="margin-top: auto">
              <a href="">Approfondisci</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-bottom--huge p-top--huge" style="background-color: #fff;">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-xs-6 col-12">
          <div class="adv adv--stretched">
            <div class="adv__kicker">Kicker</div>
            <div class="adv__title">
              <a href="">Come riconoscere una chiamata</a>
            </div>
            <div class="adv__text text">Ogni essere umano fa esperienza di essere chiamato dal Signore. Scopri come riconoscere la tua vocazione. Testo più lungo degli altri.</div>
            <div class="adv__btn">
              <a href="">Approfondisci</a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-xs-6 col-12">
          <div class="adv adv--stretched">
            <div class="adv__kicker">Kicker</div>
            <div class="adv__title">
              <a href="">Perché proprio la compagnia</a>
            </div>
            <div class="adv__text text">
              <p>Nella Chiesa esistono molti istituti e ordini religiosi. Ognuno ha un proprio carisma specifico che lo caratterizza.</p>
              <p>Second paragraph test</p>
            </div>
            <div class="adv__btn">
              <a href="">Approfondisci</a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-xs-6 col-12">
          <div class="adv adv--stretched">
            <div class="adv__kicker">Kicker</div>
            <div class="adv__title">
              <a href="">Requisiti per entrare in Compagnia</a>
            </div>
            <div class="adv__text text">No, non serve una laurea, come molti pensano. Non ci sono requisiti veri e propri che devi avere. Solo alcune attitudini.</div>
            <div class="adv__btn">
              <a href="">Approfondisci</a>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-xs-6 col-12">
          <div class="adv adv--stretched">
            <div class="adv__kicker">Kicker</div>
            <div class="adv__title">
              <a href="">I passi del cammino vocazionale</a>
            </div>
            <div class="adv__text text">Se vuoi fare un cammino di discernimento vocazionale per entrare in Compagnia, ci sono alcuni passi da fare con ordine.</div>
            <div class="adv__btn" style="margin-top: auto">
              <a href="">Approfondisci</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section p-bottom--medium p-top--small">
    <div class="container">
      <div class="carousel">
        <h3 class="carousel__title">Esercizi Spirituali</h3>
        <div class="carousel__slider">
          <div class="adv carousel__slide">
              <div class="adv__title">
                <a href="">Un modo di pregare</a>
              </div>
              <div class="adv__text">Scopri quali sono i fondamenti della preghiera ignaziana</div>
              <div class="adv__btn">
                <a href="">Approfondisci</a>
              </div>
          </div>
          <div class="adv carousel__slide">
            <div class="adv__title">
              <a href="">Un metodo per fare discernimento</a>
            </div>
            <div class="adv__text">
              <p>Scopri come gli esercizi ignaziani sono uno strumento utile per fare discernimento</p>
            </div>
            <div class="adv__btn">
              <a href="">Approfondisci</a>
            </div>
          </div>
          <div class="adv carousel__slide">
            <div class="adv__title">
              <a href="">Un cammino a tappe</a>
            </div>
            <div class="adv__text">Scopri come gli esercizi ignaziani sono uno strumento utile per fare discernimento</div>
            <div class="adv__btn">
              <a href="">Approfondisci</a>
            </div>
          </div>
          <div class="adv carousel__slide">
            <div class="adv__title">
              <a href="">Diverse modalità</a>
            </div>
            <div class="adv__text">Guarda i diversi modi in cui puoi fare gli esercizi ignaziani</div>
            <div class="adv__btn">
              <a href="">Approfondisci</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
