{% extends 'partials/_base.njk' %}
{% set current_category = 'templates' %}
{% set current_item = 'article-detail' %}

{% block content %}

  <header class="template-header container">
    <div class="template-header__title-wrapper">
      <div class="template-header__title">
        News
      </div>
    </div>
    <div class="template-header__breadcrumbs">
      <a href="#">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon"><path d="m 414.99166,414.42924 c 0,24.99946 -20.26605,45.2655 -45.26551,45.2655 H 142.27382 c -24.99946,0 -45.265483,-20.26604 -45.265483,-45.2655 V 97.570758 c 0,-24.999453 20.266023,-45.265496 45.265483,-45.265496 H 286.439 c 6.00266,0 11.7593,2.384587 16.00385,6.628907 l 105.9199,105.919901 c 4.24432,4.24432 6.62891,10.00119 6.62891,16.00362 z m -45.26551,-4.84205 0.0172,-191.6781 -68.11167,0.0136 c -24.99945,0 -45.26549,-20.26604 -45.26549,-45.2655 l 0.009,-75.086182 H 142.27382 V 409.5872 Z m -17.56844,-236.94361 -50.51629,-50.51628 -0.009,50.52965 z"></path></svg>
        Blog title</a>
      <a href="#">Topic</a>
      <span>Post title</span>
    </div>
  </header>

  <article class="article-detail container">
			<header class="article-detail__header">
				<div class="article-detail__meta">
          <time class="article-detail__date">May 28, 2020</time>
          <span class="article-detail__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon"><path d="m 414.99166,414.42924 c 0,24.99946 -20.26605,45.2655 -45.26551,45.2655 H 142.27382 c -24.99946,0 -45.265483,-20.26604 -45.265483,-45.2655 V 97.570758 c 0,-24.999453 20.266023,-45.265496 45.265483,-45.265496 H 286.439 c 6.00266,0 11.7593,2.384587 16.00385,6.628907 l 105.9199,105.919901 c 4.24432,4.24432 6.62891,10.00119 6.62891,16.00362 z m -45.26551,-4.84205 0.0172,-191.6781 -68.11167,0.0136 c -24.99945,0 -45.26549,-20.26604 -45.26549,-45.2655 l 0.009,-75.086182 H 142.27382 V 409.5872 Z m -17.56844,-236.94361 -50.51629,-50.51628 -0.009,50.52965 z"></path></svg>
            </span>
          <div class="article-detail__kicker">
            <a class="category" href="#">EUM Province</a>
            <a class="category" href="#">Culture</a>
            <a class="category" href="#">Youth</a>
          </div>
        </div>
				<h1 class="article-detail__title">Titolo su una o due righe lorem ipsum dolor sit amet</h1>
			</header>
			<figure class="article-detail__image" loading="eager">
				<img src="https://via.placeholder.com/1098x732.jpg?text=Ratio+3:2" />
				<figcaption>Lorem ipsum dolor sit amet | Ph. Henri Cartier-Bresson</figcaption>
			</figure>
			</div>
			<div class="article-detail__content-wrapper">
				<div class="article-detail__content eum-styled-content">
          <p class="text--lead">More than 210 participants from 25 countries came together “to know,  love and share” in Magis Europe 2019 summer event. The Ignatian program for young adults took place in Lithuania and Latvia from the 23rd&nbsp;till the 31st of July, 2019.</p>
          <p>This year 2019 marks the 450th anniversary of the Jesuit Mission in
          Lithuania and The Magis Europe 2019 event became one of the key parts of
          this celebration. The program was based on the official theme of the
          anniversary year “To know, love and share”. The event was also linked to
          the world Magis 2019 program and the World Youth Days in Panama.</p>
          <p>Magis Europe in Lithuania and Latvia was divided in two parts: Magis experiments and the Closing Festival.</p>
          <h2>Experiments</h2>
          <p>There were proposed 11 different experiments, grouped in&nbsp;the  categories: Pilgrimage, Ecology, Service, Spirituality, Arts and Culture.</p>
          <p>The <strong>Ecology</strong> experiments invited to focus on the  practical ways of relating Catholic faith with personal ecology through  environmental workshops and education. These experiments were inspired  by the impulses from Pope Francis’ encyclical “Laudato Sii” and his call  to foster inner spiritual ecology.</p>
          <figure class=""><img src="http://demo.jesuits-eum.media/theme/wp-content/uploads/sites/2/2019/12/MAGIS_2019_Pilgrimage_Experiment_photo_Andras_Kretzer_600.jpg" alt="" class="wp-image-66284" srcset="https://demo.jesuits-eum.media/theme/wp-content/uploads/sites/2/2019/12/MAGIS_2019_Pilgrimage_Experiment_photo_Andras_Kretzer_600.jpg 896w, https://demo.jesuits-eum.media/theme/wp-content/uploads/sites/2/2019/12/MAGIS_2019_Pilgrimage_Experiment_photo_Andras_Kretzer_600-384x216.jpg 384w, https://demo.jesuits-eum.media/theme/wp-content/uploads/sites/2/2019/12/MAGIS_2019_Pilgrimage_Experiment_photo_Andras_Kretzer_600-592x333.jpg 592w" sizes="(max-width:759px) 100vw, (max-width:999px) 748px, (max-width:1199px) 624px, (max-width: 1599px) 784px, 890px" width="896" height="504"></figure>
          <p>In the three <strong>Pilgrimage</strong>
          experiments young adults not only walked, but also canoed and cycled
          their way through different terrains in Lithuania and Latvia.
          Pilgrimages took place on the way of Santiago de Compostela, as well as
          on the beautiful Lithuanian seaside in Curonian Spit and in the “blue
          lakes land” area in Latvia.</p>
          <p>Participants who chose the category of<strong> Arts and Culture</strong>
          attended Choir, Taizé music, Theater and Food experiments. Young people
          were invited to reach out to God through worship, improvisation and
          even through the preparation of food. An important part of these
          experiments was sharing the fruits of these experiences – music, acting
          performances and food – with others.</p>
          <h2>Closing Festival</h2>
          <p>After the fruitful and moving Magis experiments participants gathered in  Kaunas, Lithuania for the celebration of the Closing Festival. Young  people participated in the <strong>Evening of Reconciliation</strong>  with the Lithuanian Youth Days choir. Next day participants attended  Magis education workshops, Kaunas tours and took part in the choir  Exaudi concert-meditation “The Face of Christ” which is based on the  Spiritual Exercises of St. Ignatius. The evening was dedicated to get a  glimpse and taste of Central American culture through traditional music,  food and drinks. Magis Europe 2019 was closed on the 31st of July with  an uplifting celebration of the Solemnity of St. Ignatius. Also, the  announcement of an invitation to the next Magis event was made – Magis  Europe 2020 will take place in Hungary from the 1st to the 9th of  August. Remember to book these dates in your Magis calendar!</p>
				</div>
				<div class="article-detail__tags">
					Tags
            <a class="tag tag--small" href="#">Tag 1</a>
            <a class="tag tag--small" href="#">Tag 2</a>
            <a class="tag tag--small" href="#">Tag 3</a>
            <a class="tag tag--small" href="#">Tag 4</a>
				</div>
			</div>
		</article>
{% endblock %}
