{% extends 'partials/_base.njk' %}
{% set current_category = 'items' %}
{% set current_item = 'article' %}

{% block content %}
  <section class="container p-bottom--medium p-top--medium">
    <div class="row">
      <div class="col-12 col-s-6 col-xl-4">
        <pre>default</pre>
        <article class="article">
          <div class="article__image">
            <a href="#">
              <!--
              <img src="https://via.placeholder.com/990x660/?text=Ratio+16:9+width:580w" srcset="https://via.placeholder.com/800x450/?text=Ratio+16:9+width:800w 800w,
                          https://via.placeholder.com/580x326/?text=Ratio+16:9+width:580w 580w,
                          https://via.placeholder.com/384x216/?text=Ratio+16:9+width:370w 384w" sizes="(min-width: 1600px) 652px, (min-width: 1200px) 576px, (min-width: 1000px) 456px, (min-width: 760px) 362px, 100vw"/>-->
              <img src="https://via.placeholder.com/660x440/?text=Ratio+3:2">
            </a>
          </div>
          <div class="article__meta">
            <span class="article__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon"><path d="m 414.99166,414.42924 c 0,24.99946 -20.26605,45.2655 -45.26551,45.2655 H 142.27382 c -24.99946,0 -45.265483,-20.26604 -45.265483,-45.2655 V 97.570758 c 0,-24.999453 20.266023,-45.265496 45.265483,-45.265496 H 286.439 c 6.00266,0 11.7593,2.384587 16.00385,6.628907 l 105.9199,105.919901 c 4.24432,4.24432 6.62891,10.00119 6.62891,16.00362 z m -45.26551,-4.84205 0.0172,-191.6781 -68.11167,0.0136 c -24.99945,0 -45.26549,-20.26604 -45.26549,-45.2655 l 0.009,-75.086182 H 142.27382 V 409.5872 Z m -17.56844,-236.94361 -50.51629,-50.51628 -0.009,50.52965 z"></path></svg>
            </span>
            <div class="article__kicker">
              <a href="#">article topic with a very long title</a>
            </div>
            <time class="article__date">11.10.2018</time>
          </div>
          <h1 class="article__title">
            <a href="#">Article title on one or two lines lorem ipsum dolor sit amet</a>
          </h1>
          <div class="article__text">
            Paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="">Continua a leggere</a>
          </div>
        </article>
      </div>
      <div class="col-12 col-s-6 col-xl-4">
        <pre>.article__title--medium</pre>
        <article class="article">
          <div class="article__image">
            <!--
            <img src="https://via.placeholder.com/990x660/?text=Ratio+16:9+width:580w" srcset="https://via.placeholder.com/800x450/?text=Ratio+16:9+width:800w 800w,
                        https://via.placeholder.com/580x326/?text=Ratio+16:9+width:580w 580w,
                        https://via.placeholder.com/384x216/?text=Ratio+16:9+width:370w 384w" sizes="(min-width: 1600px) 652px, (min-width: 1200px) 576px, (min-width: 1000px) 456px, (min-width: 760px) 362px, 100vw"/>-->
            <img src="https://via.placeholder.com/660x440/?text=Ratio+3:2">
          </div>
          <div class="article__meta">
            <span class="article__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon"><path d="m 414.99166,414.42924 c 0,24.99946 -20.26605,45.2655 -45.26551,45.2655 H 142.27382 c -24.99946,0 -45.265483,-20.26604 -45.265483,-45.2655 V 97.570758 c 0,-24.999453 20.266023,-45.265496 45.265483,-45.265496 H 286.439 c 6.00266,0 11.7593,2.384587 16.00385,6.628907 l 105.9199,105.919901 c 4.24432,4.24432 6.62891,10.00119 6.62891,16.00362 z m -45.26551,-4.84205 0.0172,-191.6781 -68.11167,0.0136 c -24.99945,0 -45.26549,-20.26604 -45.26549,-45.2655 l 0.009,-75.086182 H 142.27382 V 409.5872 Z m -17.56844,-236.94361 -50.51629,-50.51628 -0.009,50.52965 z"></path></svg>
            </span>
            <div class="article__kicker">
              <a href="#">Education</a>
            </div>
            <time class="article__date">11.10.2018</time>
          </div>
          <h1 class="article__title article__title--medium">
            <a href="#">Article title on one or two lines lorem ipsum dolor sit amet</a>
          </h1>
          <div class="article__text">
            Paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
        </article>
      </div>
      <div class="col-12 col-s-6 col-xl-4">
        <pre>non-linking kicker, buttons</pre>
        <article class="article">
          <div class="article__image">
            <!--
            <img src="https://via.placeholder.com/990x660/?text=Ratio+16:9+width:580w" srcset="https://via.placeholder.com/800x450/?text=Ratio+16:9+width:800w 800w,
                        https://via.placeholder.com/580x326/?text=Ratio+16:9+width:580w 580w,
                        https://via.placeholder.com/384x216/?text=Ratio+16:9+width:370w 384w" sizes="(min-width: 1600px) 652px, (min-width: 1200px) 576px, (min-width: 1000px) 456px, (min-width: 760px) 362px, 100vw"/>-->
            <img src="https://via.placeholder.com/660x440/?text=Ratio+3:2">
          </div>
          <div class="article__meta">
            <div class="article__kicker">
              Famiglia e minori
            </div>
          </div>
          <h1 class="article__title">
            <a href="#">Article title on one or two lines lorem ipsum dolor sit amet</a>
          </h1>
          <div class="article__text">
            Paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
          <div class="article__btn">
            <a href="">Approfondisci</a>
          </div>
        </article>
      </div>
  </section>
  <section class="container p-bottom--medium p-top--medium">
    <pre>.article--summary</pre>
    <article class="article">
      <div class="article__meta">
        <span class="article__icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon"><path d="m 414.99166,414.42924 c 0,24.99946 -20.26605,45.2655 -45.26551,45.2655 H 142.27382 c -24.99946,0 -45.265483,-20.26604 -45.265483,-45.2655 V 97.570758 c 0,-24.999453 20.266023,-45.265496 45.265483,-45.265496 H 286.439 c 6.00266,0 11.7593,2.384587 16.00385,6.628907 l 105.9199,105.919901 c 4.24432,4.24432 6.62891,10.00119 6.62891,16.00362 z m -45.26551,-4.84205 0.0172,-191.6781 -68.11167,0.0136 c -24.99945,0 -45.26549,-20.26604 -45.26549,-45.2655 l 0.009,-75.086182 H 142.27382 V 409.5872 Z m -17.56844,-236.94361 -50.51629,-50.51628 -0.009,50.52965 z"></path></svg>
        </span>
        <div class="article__kicker">
          <a href="#">Education</a>
        </div>
        <time class="article__date">11.10.2018</time>
      </div>
      <h1 class="article__title">
        <a href="#">Article title on one or two lines lorem ipsum dolor sit amet</a>
      </h1>
    </article>
  </section>
  <section class="container p-bottom--medium p-top--medium">
    <pre>category grid (normal gutter)</pre>
    <div class="row">
      <div class="col-12 col-s-6 col-xl-3">
        <article class="article article--stretched">
          <div class="article__image article__image--1-1">
            <!--
            <img src="https://via.placeholder.com/990x660/?text=Ratio+16:9+width:580w" srcset="https://via.placeholder.com/800x450/?text=Ratio+16:9+width:800w 800w,
                        https://via.placeholder.com/580x326/?text=Ratio+16:9+width:580w 580w,
                        https://via.placeholder.com/384x216/?text=Ratio+16:9+width:370w 384w" sizes="(min-width: 1600px) 652px, (min-width: 1200px) 576px, (min-width: 1000px) 456px, (min-width: 760px) 362px, 100vw"/>-->
            <img src="https://via.placeholder.com/660x440/?text=Ratio+1:1">
          </div>
          <div class="article__meta">
            <div class="article__kicker">
              Education
            </div>
          </div>
          <h1 class="article__title">
            <a href="#">Article title on one or two lines lorem ipsum dolor sit amet</a>
          </h1>
          <div class="article__text">
            Paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </div>
          <div class="article__btn">
            <a href="">Approfondisci</a>
          </div>
        </article>
      </div>
      <div class="col-12 col-s-6 col-xl-3">
        <article class="article article--stretched">
          <div class="article__image article__image--1-1">
            <!--
            <img src="https://via.placeholder.com/990x660/?text=Ratio+16:9+width:580w" srcset="https://via.placeholder.com/800x450/?text=Ratio+16:9+width:800w 800w,
                        https://via.placeholder.com/580x326/?text=Ratio+16:9+width:580w 580w,
                        https://via.placeholder.com/384x216/?text=Ratio+16:9+width:370w 384w" sizes="(min-width: 1600px) 652px, (min-width: 1200px) 576px, (min-width: 1000px) 456px, (min-width: 760px) 362px, 100vw"/>-->
            <img src="https://via.placeholder.com/660x440/?text=Ratio+1:1">
          </div>
          <div class="article__meta">
            <div class="article__kicker">
              Education
            </div>
          </div>
          <h1 class="article__title">
            <a href="#">Article title on one or two lines</a>
          </h1>
          <div class="article__text">
            Paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
          <div class="article__btn">
            <a href="">Approfondisci</a>
          </div>
        </article>
      </div>
      <div class="col-12 col-s-6 col-xl-3">
        <article class="article article--stretched">
          <div class="article__image article__image--1-1">
            <!--
            <img src="https://via.placeholder.com/990x660/?text=Ratio+16:9+width:580w" srcset="https://via.placeholder.com/800x450/?text=Ratio+16:9+width:800w 800w,
                        https://via.placeholder.com/580x326/?text=Ratio+16:9+width:580w 580w,
                        https://via.placeholder.com/384x216/?text=Ratio+16:9+width:370w 384w" sizes="(min-width: 1600px) 652px, (min-width: 1200px) 576px, (min-width: 1000px) 456px, (min-width: 760px) 362px, 100vw"/>-->
            <img src="https://via.placeholder.com/660x440/?text=Ratio+1:1">
          </div>
          <div class="article__meta">
            <div class="article__kicker">
              Education
            </div>
          </div>
          <h1 class="article__title">
            <a href="#">Article title on one or two lines lorem ipsum dolor sit amet</a>
          </h1>
          <div class="article__text">
            Paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
          <div class="article__btn">
            <a href="">Approfondisci</a>
          </div>
        </article>
      </div>
      <div class="col-12 col-s-6 col-xl-3">
        <article class="article article--stretched">
          <div class="article__image article__image--1-1">
            <!--
            <img src="https://via.placeholder.com/990x660/?text=Ratio+16:9+width:580w" srcset="https://via.placeholder.com/800x450/?text=Ratio+16:9+width:800w 800w,
                        https://via.placeholder.com/580x326/?text=Ratio+16:9+width:580w 580w,
                        https://via.placeholder.com/384x216/?text=Ratio+16:9+width:370w 384w" sizes="(min-width: 1600px) 652px, (min-width: 1200px) 576px, (min-width: 1000px) 456px, (min-width: 760px) 362px, 100vw"/>-->
            <img src="https://via.placeholder.com/660x440/?text=Ratio+1:1">
          </div>
          <div class="article__meta">
            <div class="article__kicker">
              Education
            </div>
          </div>
          <h1 class="article__title">
            <a href="#">Article title on one or two lines lorem ipsum dolor sit amet</a>
          </h1>
          <div class="article__text">
            Paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
          <div class="article__btn">
            <a href="">Approfondisci</a>
          </div>
        </article>
      </div>
    </div>
  </section>
  <section class="container p-bottom--medium p-top--medium">
    <pre>.article--large + .article--summary</pre>
    <div class="row">
      <div class="col-12 col-m-6">
        <article class="article">
          <div class="article__image">
            <!--
            <img src="https://via.placeholder.com/990x660/?text=Ratio+16:9+width:580w" srcset="https://via.placeholder.com/800x450/?text=Ratio+16:9+width:800w 800w,
                        https://via.placeholder.com/580x326/?text=Ratio+16:9+width:580w 580w,
                        https://via.placeholder.com/384x216/?text=Ratio+16:9+width:370w 384w" sizes="(min-width: 1600px) 652px, (min-width: 1200px) 576px, (min-width: 1000px) 456px, (min-width: 760px) 362px, 100vw"/>-->
            <img src="https://via.placeholder.com/660x440/?text=Ratio+3:2">
          </div>
          <div class="article__meta">
            <span class="article__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon"><path d="m 414.99166,414.42924 c 0,24.99946 -20.26605,45.2655 -45.26551,45.2655 H 142.27382 c -24.99946,0 -45.265483,-20.26604 -45.265483,-45.2655 V 97.570758 c 0,-24.999453 20.266023,-45.265496 45.265483,-45.265496 H 286.439 c 6.00266,0 11.7593,2.384587 16.00385,6.628907 l 105.9199,105.919901 c 4.24432,4.24432 6.62891,10.00119 6.62891,16.00362 z m -45.26551,-4.84205 0.0172,-191.6781 -68.11167,0.0136 c -24.99945,0 -45.26549,-20.26604 -45.26549,-45.2655 l 0.009,-75.086182 H 142.27382 V 409.5872 Z m -17.56844,-236.94361 -50.51629,-50.51628 -0.009,50.52965 z"></path></svg>
            </span>
            <div class="article__kicker">
              <a href="#">Education</a>
            </div>
            <time class="article__date">11.10.2018</time>
          </div>
          <h1 class="article__title article__title--large">
            <a href="#">Article title on one or two lines lorem ipsum dolor sit amet</a>
          </h1>
          <div class="article__text">
            Paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </div>
        </article>
      </div>
      <div class="col-12 col-m-5" style="margin-left: auto;">
        <article class="article m-bottom--large">
          <div class="article__meta">
            <span class="article__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon"><path d="m 414.99166,414.42924 c 0,24.99946 -20.26605,45.2655 -45.26551,45.2655 H 142.27382 c -24.99946,0 -45.265483,-20.26604 -45.265483,-45.2655 V 97.570758 c 0,-24.999453 20.266023,-45.265496 45.265483,-45.265496 H 286.439 c 6.00266,0 11.7593,2.384587 16.00385,6.628907 l 105.9199,105.919901 c 4.24432,4.24432 6.62891,10.00119 6.62891,16.00362 z m -45.26551,-4.84205 0.0172,-191.6781 -68.11167,0.0136 c -24.99945,0 -45.26549,-20.26604 -45.26549,-45.2655 l 0.009,-75.086182 H 142.27382 V 409.5872 Z m -17.56844,-236.94361 -50.51629,-50.51628 -0.009,50.52965 z"></path></svg>
            </span>
            <div class="article__kicker">
              <a href="#">Education</a>
            </div>
            <time class="article__date">11.10.2018</time>
          </div>
          <h1 class="article__title">
            <a href="#">Article title on one or two lines lorem ipsum dolor sit amet</a>
          </h1>
        </article>
        <article class="article m-bottom--large">
          <div class="article__meta">
            <span class="article__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon"><path d="m 414.99166,414.42924 c 0,24.99946 -20.26605,45.2655 -45.26551,45.2655 H 142.27382 c -24.99946,0 -45.265483,-20.26604 -45.265483,-45.2655 V 97.570758 c 0,-24.999453 20.266023,-45.265496 45.265483,-45.265496 H 286.439 c 6.00266,0 11.7593,2.384587 16.00385,6.628907 l 105.9199,105.919901 c 4.24432,4.24432 6.62891,10.00119 6.62891,16.00362 z m -45.26551,-4.84205 0.0172,-191.6781 -68.11167,0.0136 c -24.99945,0 -45.26549,-20.26604 -45.26549,-45.2655 l 0.009,-75.086182 H 142.27382 V 409.5872 Z m -17.56844,-236.94361 -50.51629,-50.51628 -0.009,50.52965 z"></path></svg>
            </span>
            <div class="article__kicker">
              <a href="#">Education</a>
            </div>
            <time class="article__date">11.10.2018</time>
          </div>
          <h1 class="article__title">
            <a href="#">Article title on one or two lines lorem ipsum dolor sit amet</a>
          </h1>
        </article>
        <article class="article m-bottom--large">
          <div class="article__meta">
            <span class="article__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon"><path d="m 414.99166,414.42924 c 0,24.99946 -20.26605,45.2655 -45.26551,45.2655 H 142.27382 c -24.99946,0 -45.265483,-20.26604 -45.265483,-45.2655 V 97.570758 c 0,-24.999453 20.266023,-45.265496 45.265483,-45.265496 H 286.439 c 6.00266,0 11.7593,2.384587 16.00385,6.628907 l 105.9199,105.919901 c 4.24432,4.24432 6.62891,10.00119 6.62891,16.00362 z m -45.26551,-4.84205 0.0172,-191.6781 -68.11167,0.0136 c -24.99945,0 -45.26549,-20.26604 -45.26549,-45.2655 l 0.009,-75.086182 H 142.27382 V 409.5872 Z m -17.56844,-236.94361 -50.51629,-50.51628 -0.009,50.52965 z"></path></svg>
            </span>
            <div class="article__kicker">
              <a href="#">Education</a>
            </div>
            <time class="article__date">11.10.2018</time>
          </div>
          <h1 class="article__title">
            <a href="#">Article title on one or two lines lorem ipsum dolor sit amet</a>
          </h1>
        </article>
        <article class="article m-bottom--large">
          <div class="article__meta">
            <span class="article__icon">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon"><path d="m 414.99166,414.42924 c 0,24.99946 -20.26605,45.2655 -45.26551,45.2655 H 142.27382 c -24.99946,0 -45.265483,-20.26604 -45.265483,-45.2655 V 97.570758 c 0,-24.999453 20.266023,-45.265496 45.265483,-45.265496 H 286.439 c 6.00266,0 11.7593,2.384587 16.00385,6.628907 l 105.9199,105.919901 c 4.24432,4.24432 6.62891,10.00119 6.62891,16.00362 z m -45.26551,-4.84205 0.0172,-191.6781 -68.11167,0.0136 c -24.99945,0 -45.26549,-20.26604 -45.26549,-45.2655 l 0.009,-75.086182 H 142.27382 V 409.5872 Z m -17.56844,-236.94361 -50.51629,-50.51628 -0.009,50.52965 z"></path></svg>
            </span>
            <div class="article__kicker">
              <a href="#">Education</a>
            </div>
            <time class="article__date">11.10.2018</time>
          </div>
          <h1 class="article__title">
            <a href="#">Article title on one or two lines lorem ipsum dolor sit amet</a>
          </h1>
        </article>
      </div>
    </div>
  </section>
{% endblock %}
