{% extends 'partials/_base.njk' %}
{% set current_category = 'items' %}
{% set current_item = 'big-data' %}

{% block content %}
  <section class="container p-bottom--medium p-top--medium">
    <div class="big-data">
      <div class="big-data__kicker">La Provincia in numeri</div>
      <div class="big-data__item">
        <span class="big-data__number">75</span> le opere attive nel campo sociale, nella cultura, per i giovani, nelle scuole e per la promozione degli Esercizi Spirituali
        </div>
      <div class="big-data__item">
        <span class="big-data__number">98</span> gesuiti in formazione
      </div>
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    <div class="row">
      <div class="col-12 col-m-7"></div>
      <div class="col-12 col-m-4" style="margin-left: auto;">
        <div class="big-data">
          <div class="big-data__kicker">La Provincia in numeri</div>
          <div class="big-data__item">
            <span class="big-data__number">75</span>
             le opere attive nel campo sociale, nella cultura, per i giovani, nelle scuole e per la promozione degli Esercizi Spirituali
          </div>
          <div class="big-data__item">
            <span class="big-data__number">98</span>
             gesuiti in formazione
          </div>
      </div>
      </div>
    </div>
  </section>
{% endblock %}
