{% extends 'partials/_base.njk' %}
{% set current_category = 'items' %}
{% set current_item = 'blog-post' %}

{% block content %}
  <section class="container p-bottom--medium p-top--medium">
    <h3>Blog post</h3>
    <div class="m-top--small m-bottom--small" style="max-width:400px">
      <div class="blog-post">
        <div class="blog-post__image-wrapper">
          <figure class="blog-post__image">
            <a class="#"><img src="https://via.placeholder.com/100x100/?text=Ratio+1:1"/></a>
          </figure>
        </div>
        <div class="blog-post__content">
          <div class="blog-post__title"><a href="#">Fusce varius dapibus nisl eu mattis. In hac habitasse platea dictumst</a></div>
          <div class="blog-post__date"><a href="#">31/07/2019</a></div>
          <div class="blog-post__author">Author name</div>
          <div class="blog-post__topic">Blog topic or title</div>
          <a class="blog-post__link">Read the article</a>
        </div>
      </div>
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    <div class="row">
      <div class="col-12 col-m-6 col-xl-4">
        <div class="blog-post m-bottom--medium">
          <div class="blog-post__image-wrapper">
            <figure class="blog-post__image">
              <a class="#"><img src="https://via.placeholder.com/100x100/?text=Ratio+1:1"/></a>
            </figure>
          </div>
          <div class="blog-post__content">
            <div class="blog-post__title"><a href="#">Fusce varius dapibus nisl eu mattis. In hac habitasse platea dictumst</a></div>
            <div class="blog-post__date"><a href="#">31/07/2019</a></div>
            <div class="blog-post__author">Author name</div>
            <div class="blog-post__topic">Blog topic or title</div>
            <a class="blog-post__link">Read the article</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-m-6 col-xl-4">
        <div class="blog-post m-bottom--medium">
          <div class="blog-post__image-wrapper">
            <figure class="blog-post__image">
              <a class="#"><img src="https://via.placeholder.com/100x100/?text=Ratio+1:1"/></a>
            </figure>
          </div>
          <div class="blog-post__content">
            <div class="blog-post__title"><a href="#">Fusce varius dapibus nisl eu mattis</a></div>
            <div class="blog-post__date"><a href="#">31/07/2019</a></div>
            <div class="blog-post__author">Author name</div>
            <div class="blog-post__topic">Blog topic or title</div>
            <a class="blog-post__link">Read the article</a>
          </div>
        </div>
      </div>
      <div class="col-12 col-m-6 col-xl-4">
        <div class="blog-post m-bottom--medium">
          <div class="blog-post__image-wrapper">
            <figure class="blog-post__image">
              <a class="#"><img src="https://via.placeholder.com/100x100/?text=Ratio+1:1"/></a>
            </figure>
          </div>
          <div class="blog-post__content">
            <div class="blog-post__title"><a href="#">In hac habitasse platea dictumst</a></div>
            <div class="blog-post__date"><a href="#">31/07/2019</a></div>
            <div class="blog-post__author">Author name</div>
            <div class="blog-post__topic">Blog topic or title</div>
            <a class="blog-post__link">Read the article</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
