{% extends "./partials/_base.njk" %}
{% set current_category = 'sections' %}
{% set current_item = 'carousel' %}

{% block content %}
    <section class="container p-bottom--medium p-top--medium">
        <div class="carousel">
            <div class="carousel__title">Una storia
                <br/>lunga 500 anni</div>
            <div class="carousel__slider">
                <div class="carousel__slide">
                    <div class="slide">
                        <div class="slide__image">
                            <img src="https://via.placeholder.com/400" alt="">
                            <span class="slide__overtext">1485</span>
                        </div>
                    </div>
                </div>
                <div class="carousel__slide">
                    <div class="slide">
                        <div class="slide__image">
                            <img src="https://via.placeholder.com/400" alt="">
                            <span class="slide__overtext">1485</span>
                        </div>
                    </div>
                </div>
                <div class="carousel__slide">
                    <div class="slide">
                        <div class="slide__image">
                            <img src="https://via.placeholder.com/400" alt="">
                            <span class="slide__overtext">1485</span>
                        </div>
                    </div>
                </div>
                <div class="carousel__slide">
                    <div class="slide">
                        <div class="slide__image">
                            <img src="https://via.placeholder.com/400" alt="">
                            <span class="slide__overtext">1485</span>
                        </div>
                    </div>
                </div>
                <div class="carousel__slide">
                    <div class="slide">
                        <div class="slide__image">
                            <img src="https://via.placeholder.com/400" alt="">
                            <span class="slide__overtext">1485</span>
                        </div>
                    </div>
                </div>
                <div class="carousel__slide">
                    <div class="slide">
                        <div class="slide__image">
                            <img src="https://via.placeholder.com/400" alt="">
                            <span class="slide__overtext">1485</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-top--mini">
                <div class="col-l-6 col-m-9 col-s-10 col-12" style="margin: 0 auto; text-align: center">
                    <p class="text">La nostra storia lunga cinquecento anni arriva sino a i nostri giorni tinta di un alone di mistero. Nel corso dei secoli, abbiamo dato un impulso notevole all'evoluzione dei diversi contesti sociali nel mondo in termini di giustizia, cultura e dignità umana.</p>
                    <a href="#" class="special-link special-link--small">Scopri la nostra storia</a>
                </div>
            </div>
        </div>
    </section>
    <section class="container p-bottom--medium p-top--medium">
        <div class="carousel">
            <div class="carousel__title">Gli ambiti
                <br/>in cui siamo più attivi</div>
            <div class="carousel__slider">
                <div class="carousel__slide">
                    <a href="#" class="topic topic--small">
                      <div class="topic__wrapper">
                        <div class="topic__image">
                          <img src="https://via.placeholder.com/600x600/?text=Ratio+1:1"/>
                        </div>
                        <div class="topic__content">
                          <header class="topic__header">
                            <div class="topic__kicker">Italy</div>
                            <div class="topic__title">Short title</div>
                          </header>
                          <div class="topic__text">Nullam elementum porttitor tortor, vitae commodo tortor varius et. Duis id pellentesque tortor.</div>
                        </div>
                      </div>
                    </a>
                </div>
                <div class="carousel__slide">
                    <a href="#" class="topic topic--small">
                      <div class="topic__wrapper">
                        <div class="topic__image">
                          <img src="https://via.placeholder.com/600x600/?text=Ratio+1:1"/>
                        </div>
                        <div class="topic__content">
                          <header class="topic__header">
                            <div class="topic__kicker">Italy</div>
                            <div class="topic__title">Short title</div>
                          </header>
                          <div class="topic__text">Nullam elementum porttitor tortor, vitae commodo tortor varius et. Duis id pellentesque tortor.</div>
                        </div>
                      </div>
                    </a>
                </div>
                <div class="carousel__slide">
                    <a href="#" class="topic topic--small">
                      <div class="topic__wrapper">
                        <div class="topic__image">
                          <img src="https://via.placeholder.com/600x600/?text=Ratio+1:1"/>
                        </div>
                        <div class="topic__content">
                          <header class="topic__header">
                            <div class="topic__kicker">Italy</div>
                            <div class="topic__title">Short title</div>
                          </header>
                          <div class="topic__text">Nullam elementum porttitor tortor, vitae commodo tortor varius et. Duis id pellentesque tortor.</div>
                        </div>
                      </div>
                    </a>
                </div>
                <div class="carousel__slide">
                    <a href="#" class="topic topic--small">
                      <div class="topic__wrapper">
                        <div class="topic__image">
                          <img src="https://via.placeholder.com/600x600/?text=Ratio+1:1"/>
                        </div>
                        <div class="topic__content">
                          <header class="topic__header">
                            <div class="topic__kicker">Italy</div>
                            <div class="topic__title">Short title</div>
                          </header>
                          <div class="topic__text">Nullam elementum porttitor tortor, vitae commodo tortor varius et. Duis id pellentesque tortor.</div>
                        </div>
                      </div>
                    </a>
                </div>
                <div class="carousel__slide">
                    <a href="#" class="topic topic--small">
                      <div class="topic__wrapper">
                        <div class="topic__image">
                          <img src="https://via.placeholder.com/600x600/?text=Ratio+1:1"/>
                        </div>
                        <div class="topic__content">
                          <header class="topic__header">
                            <div class="topic__kicker">Italy</div>
                            <div class="topic__title">Short title</div>
                          </header>
                          <div class="topic__text">Nullam elementum porttitor tortor, vitae commodo tortor varius et. Duis id pellentesque tortor.</div>
                        </div>
                      </div>
                    </a>
                </div>
                <div class="carousel__slide">
                    <a href="#" class="topic topic--small">
                      <div class="topic__wrapper">
                        <div class="topic__image">
                          <img src="https://via.placeholder.com/600x600/?text=Ratio+1:1"/>
                        </div>
                        <div class="topic__content">
                          <header class="topic__header">
                            <div class="topic__kicker">Italy</div>
                            <div class="topic__title">Short title</div>
                          </header>
                          <div class="topic__text">Nullam elementum porttitor tortor, vitae commodo tortor varius et. Duis id pellentesque tortor.</div>
                        </div>
                      </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="container p-bottom--medium p-top--medium">
        <div class="carousel">
            <div class="carousel__title">I nostri centri estivi</div>
            <div class="carousel__slider">
                <div class="carousel__slide">
                    <div class="card">
                        <img class="card__image" src="https://via.placeholder.com/400x400/?text=Ratio+1:1"/>
                        <div class="card__title">
                            <a href="">Article title on one or two lines</a>
                        </div>
                        <div class="card__text">
                            Paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                        <div class="card__btn">
                            <a href="#">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="carousel__slide">
                    <div class="card">
                        <img class="card__image" src="https://via.placeholder.com/400x400/?text=Ratio+1:1"/>
                        <div class="card__title">
                            <a href="">Article title on one or two lines</a>
                        </div>
                        <div class="card__text">
                            Paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                        <div class="card__btn">
                            <a href="#">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="carousel__slide">
                    <div class="card">
                        <img class="card__image" src="https://via.placeholder.com/400x400/?text=Ratio+1:1"/>
                        <div class="card__title">
                            <a href="">Article title on one or two lines</a>
                        </div>
                        <div class="card__text">
                            Paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                        <div class="card__btn">
                            <a href="#">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="carousel__slide">
                    <div class="card">
                        <img class="card__image" src="https://via.placeholder.com/400x400/?text=Ratio+1:1"/>
                        <div class="card__title">
                            <a href="">Article title on one or two lines</a>
                        </div>
                        <div class="card__text">
                            Paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                        <div class="card__btn">
                            <a href="#">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="carousel__slide">
                    <div class="card">
                        <img class="card__image" src="https://via.placeholder.com/400x400/?text=Ratio+1:1"/>
                        <div class="card__title">
                            <a href="">Article title on one or two lines</a>
                        </div>
                        <div class="card__text">
                            Paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                        <div class="card__btn">
                            <a href="#">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="carousel__slide">
                    <div class="card">
                        <img class="card__image" src="https://via.placeholder.com/400x400/?text=Ratio+1:1"/>
                        <div class="card__title">
                            <a href="">Article title on one or two lines</a>
                        </div>
                        <div class="card__text">
                            Paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </div>
                        <div class="card__btn">
                            <a href="#">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container p-bottom--medium p-top--medium">
      <div class="carousel">
          <div class="carousel__title">.reading--stretched in carousel (equal heights)</div>
          <div class="carousel__slider">
            <article class="reading reading--stretched carousel__slide">
              <a class="reading__image" href="#">
                <img src="https://demo.jesuits-eum.media/eum/wp-content/uploads/sites/4/2020/06/RE.delle-schiere.jpg"/>
              </a>
              <div class="reading__content">
                <div class="reading__title"><a href="#">Il re delle schiere</a></div>
                <div class="reading__publisher">San Paolo</div>
                <div class="reading__text">
                  L'esercizio del re temporale e del Re eterno (ES 91_98)
                </div>
              </div>
            </article>
            <article class="reading reading--stretched carousel__slide">
              <a class="reading__image" href="#">
                <svg class="ihs-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 42"><use xlink:href="#ihs-svg"></use></svg>
              </a>
              <div class="reading__content">
                <div class="reading__title"><a href="#">La via ignaziana</a></div>
                <div class="reading__author">Simon Decloux</div>
                <div class="reading__publisher">Borla</div>
              </div>
            </article>
            <article class="reading reading--stretched carousel__slide">
              <a class="reading__image" href="#">
                <img src="https://demo.jesuits-eum.media/eum/wp-content/uploads/sites/4/2020/06/Pietro-Favre.jpg"/>
              </a>
              <div class="reading__content">
                <div class="reading__title"><a href="#">Pietro Favre</a></div>
                <div class="reading__author">Andrea Dall'Asta</div>
                <div class="reading__publisher">Messaggero</div>
                <div class="reading__text">
                  Tenerezza e misericordia
                </div>
              </div>
            </article>
            <article class="reading reading--stretched carousel__slide">
              <a class="reading__image" href="#">
                <svg class="ihs-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 42"><use xlink:href="#ihs-svg"></use></svg>
              </a>
              <div class="reading__content">
                <div class="reading__title"><a href="#">La via ignaziana</a></div>
                <div class="reading__author">Simon Decloux</div>
                <div class="reading__publisher">Borla</div>
              </div>
            </article>
      </div>
  </section>
{% endblock %}
