{% extends 'partials/_base.njk' %}
{% set current_category = 'sections' %}
{% set current_item = 'featured' %}

{% block content %}
  <section class="container p-bottom--medium p-top--medium">
    <div class="featured">
      <div class="featured__content-wrapper">
        <div class="featured__content">
          <h1 class="featured__title">
            <a href="#">Educazione scolastica e filosofia Gesuita</a>
          </h1>
          <div class="featured__bottom">
            <p class="featured__text">Siamo una Rete di Scuole ed altre opere educative che partecipano alla Fondazione “Gesuiti Educazione”. Uno strumento creato dai gesuiti italiani per mettere il plurisecolare carisma educativo della Compagnia di Gesù a servizio delle sfide del mondo di oggi: siamo infatti convinti che l’approccio ignaziano sia estremamente attuale, e possa aiutare non solo la Chiesa ma l’intera società.</p>
            <div class="featured__btn">
              <a href="#">Il sito della fondazione</a>
            </div>
          </div>
        </div>
      </div>
      <div class="featured__image">
        <a href="#">
          <img src="https://via.placeholder.com/800x800/666666?text=Ratio+1:1" alt="">
        </a>
      </div>
    </div>
  </section>
  <section class="container p-bottom--medium p-top--medium">
    <div class="carousel">
      <div class="carousel__slider">
        <div class="featured featured--carousel carousel__slide">
          <div class="featured__content">
            <h1 class="featured__title">Educazione scolastica e filosofia Gesuita</h1>
            <div class="featured__bottom">
              <p class="featured__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi iste nesciunt at sequi inventore consectetur culpa distinctio reprehenderit voluptate ut expedita sint ipsam assumenda dolor, doloremque sunt aperiam exercitationem velit!</p>
              <div class="featured__btn">
                <a href="#">Il sito della fondazione</a>
              </div>
            </div>
          </div>
          <div class="featured__image">
            <img src="https://picsum.photos/800?random=0" alt="">
          </div>
        </div>
        <div class="featured featured--carousel carousel__slide">
          <div class="featured__content">
            <h1 class="featured__title">Lorem ipsum dolor sit amet consectetur adipisicing</h1>
            <div class="featured__bottom">
              <p class="featured__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta minima similique mollitia, commodi nesciunt sed necessitatibus accusantium optio ex distinctio ea tempore incidunt, praesentium, dolorem ipsam qui quibusdam asperiores! Vitae.Optio ipsa porro aut provident fugiat nisi debitis magnam perferendis molestias aliquam animi nemo ipsum est accusantium placeat quae in dolorem omnis nam, cum perspiciatis! Explicabo harum nobis quibusdam minus!</p>
              <div class="featured__btn">
                <a href="#">Il sito della fondazione</a>
              </div>
            </div>
          </div>
          <div class="featured__image">
            <img src="https://picsum.photos/800?random=1" alt="">
          </div>
        </div>
        <div class="featured featured--carousel carousel__slide">
          <div class="featured__content">
            <h1 class="featured__title">Io sostengo da vicino</h1>
            <div class="featured__bottom">
              <p class="featured__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui repudiandae sapiente recusandae ab consequatur laudantium incidunt nihil, nobis adipisci, repellendus enim, repellat alias ipsum. Debitis ullam dignissimos possimus accusamus corporis!</p>
              <div class="featured__btn">
                <a href="#">Il sito della fondazione</a>
              </div>
            </div>
          </div>
          <div class="featured__image">
            <img src="https://picsum.photos/800?random=2" alt="">
          </div>
        </div>
        <div class="featured featured--carousel carousel__slide">
          <div class="featured__content">
            <h1 class="featured__title">Formazione socio&#8209;professionale a Lomé</h1>
            <div class="featured__bottom">
              <p class="featured__text">Siamo una Rete di Scuole ed altre opere educative che partecipano alla Fondazione “Gesuiti Educazione”. Uno strumento creato dai gesuiti italiani per mettere il plurisecolare carisma educativo della Compagnia di Gesù a servizio delle sfide del mondo di oggi: siamo infatti convinti che l’approccio ignaziano sia estremamente attuale, e possa aiutare non solo la Chiesa ma l’intera società.</p>
              <div class="featured__btn">
                <a href="#">Il sito della fondazione</a>
              </div>
            </div>
          </div>
          <div class="featured__image">
            <img src="https://picsum.photos/800?random=3" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
