{% extends 'partials/_base.njk' %}
{% set current_category = 'items' %}
{% set current_item = 'highlight' %}

{% block content %}
  <section class="container p-bottom--medium p-top--medium">
    <div class="highlight">
      <div class="highlight__wrapper">
        <div class="highlight__image">
          <img src="https://www.diocesidicremona.it/wp-content/uploads/2019/07/loyola-e1564565119371.jpg" alt="">
        </div>
        <div class="highlight__kicker">Il nostro fondatore</div>
        <h4 class="highlight__title">
          <a href="#">Ignazio di Loyola, il fondatore</a>
        </h4>
        <div class="highlight__text">
          This is the highlight text lorem ipsum dolor sit amet.
        </div>
        <div class="highlight__btn">
          <a href="#">La storia di Ignazio di Loyola</a>
        </div>
      </div>
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    <div class="row">
      <div class="col-12 col-m-7"></div>
      <div class="col-12 col-m-4" style="margin-left: auto;">
        <div class="highlight">
          <div class="highlight__wrapper">
            <div class="highlight__image">
              <a href="#">
                <img src="https://www.diocesidicremona.it/wp-content/uploads/2019/07/loyola-e1564565119371.jpg" alt="">
              </a>
            </div>
            <div class="highlight__kicker">Il nostro fondatore</div>
            <h4 class="highlight__title">Ignazio di Loyola, il fondatore</h4>
            <blockquote class="highlight__quote">
              "Chi vorrà riformare il mondo cominci da se stesso"
            </blockquote>
            <div class="highlight__btn">
              <a href="#">La storia di Ignazio da Loyola</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
