{% extends "./partials/_base.njk" %}

{% block content %}
  <section class="container eum-styled-content">
    <div class="row">
      {% for category in menu %}
      <div class="col-12 col-s-6 col-m-4">
        <h2>{{ category.name | capitalize }}</h2>
        <ul>
          {% for item in category.items %}
          <li>
            <a href="{{ item }}.html">{{ item | replace('-', ' ') | capitalize }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </section>
{% endblock %}
