{% extends 'partials/_base.njk' %}
{% set current_category = 'sections' %}
{% set current_item = 'newsletter' %}

{% block content %}
  <section class="container p-bottom--medium p-top--medium">
    <div class="row newsletter">
      <div class="col-12 col-s-8 col-m-7">
        <div class="newsletter__heading">
          <div class="newsletter__logo">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 42 42" class="ihs-svg">
              <use xlink:href="#ihs-svg"></use>
            </svg>
          </div>
          <h2 class="newsletter__title m-top--medium">Resta aggiornato sul MAGIS</h2>
          <p class="text text--lead">Iscriviti alla newsletter e ricevi tutte le informazioni sui progetti e le novità del MAGIS</p>
        </div>
      </div>
      <div class="col-12 col-s-8 col-m-5">
        <form action="" class="newsletter__form m-top--large">
          <label class="styled-label" for="newsletter-email">La tua email</label>
          <input class="styled-input" type="email" id="newsletter-email" />
          <p class="text text--micro"><a href="#">Informativa sul trattamento dei dati personali</a></p>
          <div class="checkbox">
            <input type="checkbox" id="newsletter-acceptance" name="newsletter-acceptance" value="1" required>
            <label class="styled-label styled-label--micro" for="newsletter-acceptance">Dichiaro di aver preso visione della anzidetta Informativa</label>
          </div>
          <p class="text text--micro">Il sottoscritto relativamente al trattamento dei propri dati personali per attività di marketing, attività promozionali, invio di materiale pubblicitario relativo all’attività, ai prodotti ed ai servizi della Compagnia dei Gesuiti Italia secondo quanto specificato nella suindicata informativa.</p>
          <div class="newsletter__radios">
            <div class="radio radio--inline">
              <input type="radio" id="newsletter-acceptance-y" name="newsletter-acceptance-2" value="1" required>
              <label class="styled-label styled-label--micro" for="newsletter-acceptance-y">Presta il consenso</label>
            </div>
            <div class="radio radio--inline">
              <input type="radio" id="newsletter-acceptance-n" name="newsletter-acceptance-2" value="0">
              <label class="styled-label styled-label--micro" for="newsletter-acceptance-n">Nega il consenso</label>
            </div>
          </div>
          <input type="submit" class="styled-input" value="Procedi">
        </form>
      </div>
    </div>
  </section>
{% endblock %}