{% extends 'partials/_base.njk' %}
{% set current_category = 'templates' %}
{% set current_item = 'reading-detail' %}

{% block content %}

  <header class="template-header container">
    <div class="template-header__title-wrapper">
      <div class="template-header__title">
        Suggested readings
      </div>
    </div>
    <div class="template-header__breadcrumbs">
      <a href="#">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="icon"><path d="m 414.99166,414.42924 c 0,24.99946 -20.26605,45.2655 -45.26551,45.2655 H 142.27382 c -24.99946,0 -45.265483,-20.26604 -45.265483,-45.2655 V 97.570758 c 0,-24.999453 20.266023,-45.265496 45.265483,-45.265496 H 286.439 c 6.00266,0 11.7593,2.384587 16.00385,6.628907 l 105.9199,105.919901 c 4.24432,4.24432 6.62891,10.00119 6.62891,16.00362 z m -45.26551,-4.84205 0.0172,-191.6781 -68.11167,0.0136 c -24.99945,0 -45.26549,-20.26604 -45.26549,-45.2655 l 0.009,-75.086182 H 142.27382 V 409.5872 Z m -17.56844,-236.94361 -50.51629,-50.51628 -0.009,50.52965 z"></path></svg>
        Blog title</a>
      <a href="#">Suggested readings</a>
      <span>Reading title</span>
    </div>
  </header>

  <h3 class="container">Default</h3></div>
  <article class="reading-detail container">
    <header class="reading-detail__header">
      <h2 class="reading-detail__author">Book authors, there may be quite a few of them</h2>
      <div class="reading-detail__header-wrapper">
        <div class="reading-detail__header-content">
          <h1 class="reading-detail__title h1">Desiderare e scegliere</h1>
          <h2 class="reading-detail__subtitle h3">Un percorso spirituale con Ignazio di Loyola </h2>
          <div class="reading-detail__meta">
            <div class="reading-detail__meta-item">Casa editrice <b>EDB</b></div>
            <div class="reading-detail__meta-item">a cura di <b>John W. O'Malley</b></div>
          </div>
        </div>
        <figure class="reading-detail__image">
          <img src="https://via.placeholder.com/360x480&text=Book+cover+(usually+2:3)" alt="" sizes="(max-width:564px) 100vw, (max-width:999px) 200px, (max-width:1199px) 360px, (max-width:1199px) 440px, 480px" loading="eager" width="480" height="320">
        </figure>
      </div>
    </header>

    <div class="row">
      <div class="reading-detail__content eum-styled-content col-12 col-xl-8">
        <p>Il libro si propone, attraverso l’analisi di uno tra i più celebri esempi dell’architettura italiana del tardo Rinascimento, progettato da Pellegrino Tibaldi, di offrire una chiave di lettura teologica/esistenziale per comprendere un edificio religioso. Secondo questo intento, come in un vero e proprio viaggio, sono individuati due percorsi che confluiscono in una meta finale, che la tradizione cristiana individua in una meravigliosa città-giardino: se il primo itinerario procede infatti dallo spazio profano di piazza San Fedele per proseguire con la navata fino a raggiungere l’abside, spazio simbolico della Gerusalemme Celeste, il secondo inizia invece con la semi-oscurità della cripta per concludersi con la luminosità della cupola, simbolo del paràdeisos, del giardino della pienezza della comunione tra Dio e uomo. Punto d’intersezione dei due percorsi è l’altare, luogo in cui Dio viene verso di noi e noi verso di lui, come in un appassionato incontro amoroso.</p>
        <p>Il libro non intende tanto fornire una compilazione di informazioni storico artistiche, per le quali si rimanda a testi specialistici, quanto piuttosto si propone di suscitare un’esperienza, pro-vocando lo spettatore, interpellandolo, proponendogli un viaggio interiore, affinché, riflettendo sul senso più profondo della propria vita, possa liberamente compiere decisioni.</p>
        <p>Si tratta dunque di un testo che può costituire la traccia per una lettura teologica delle chiese a partire dalla Controriforma, il cui impianto resterà praticamente immutato fino alla riforma liturgica del Concilio Vaticano II.</p>
        <h2>Biografia di nome autore</h2>
        <p>Il gesuita Andrea Dall’Asta (n. 1960 a Fontevivo, Parma), dopo aver studiato architettura a Firenze, entra nella Compagnia di Gesù nel 1988. Dal 2002 dirige la Galleria San Fedele di Milano e dal 2008 la Raccolta Lercaro di Bologna. Ha fondato a Milano nel 2014 il Museo San Fedele. Itinerari di arte e fede.</p>
        <p>La sua attenzione è rivolta sia al rapporto tra arte, liturgia e architettura. Scrive su Civiltà Cattolica e su Avvenire. Ha partecipato a importanti progetti come l’adeguamento liturgico della cattedrale di Reggio Emilia, la realizzazione dell’Evangeliario Ambrosiano e l’adeguamento liturgico della basilica di Santa Maria Assunta di Gallarate. Ha fatto parte del comitato scientifico del Padiglione del Vaticano per la Biennale di Venezia (2013) ed è stato co-curatore della sezione Disegnare il sacro, alla Biennale di Architettura di Venezia (2014).</p>
        <p>Oltre numerosi saggi, ha scritto alcuni testi, come: La luce, splendore del vero. Percorsi tra arte, architettura e teologia dall’età paleocristiana al barocco, Ancora, Milano 2015; Eclissi. Oltre il divorzio tra arte e Chiesa, San Paolo edizioni, Cinisello Balsamo (MI) 2016; La rivelazione dell’Apocalisse. Il destino dell’uomo nell’arte tra passato e presente, a cura di Dall’Asta Andrea e di Giovanni Morale, Silvana editoriale, Milano 2015; La Croce e il Volto. Percorsi tra arte, cinema e teologia, Ancora, Milano 2015; Oltre. Le soglie dell’invisibile, a cura di Dall’Asta Andrea e di Francesco Tedeschi, Skira, Milano 2014; Dio storia dell’uomo. Dalla Parola all’immagine, Messaggero edizioni, Padova, 2013; Nascere, il Natale nell’arte, San Paolo edizioni, Cinisello Balsamo (MI) 2012.</p>
      </div>
      <div class="reading-detail__sidebar col-12 col-xl-3">
        <div class="h6 h--sans m-bottom--small">
          Other readings
        </div>
        <div class="row">
          <div class="col-12 col-s-6 col-xl-12">
            <article class="article m-bottom--medium">
              <div class="article__meta">
                <div class="article__kicker">
                  Author
                </div>
              </div>
              <div class="article__title">
                <a href="#">Title on one or two lines lorem ipsum dolor sit amet</a>
              </div>
            </article>
          </div>
          <div class="col-12 col-s-6 col-xl-12">
            <article class="article m-bottom--medium">
              <div class="article__title">
                <a href="#">Title on one or two lines lorem ipsum dolor sit amet</a>
              </div>
            </article>
          </div>
          <div class="col-12 col-s-6 col-xl-12">
            <article class="article m-bottom--medium">
              <div class="article__meta">
                <div class="article__kicker">
                  Author
                </div>
              </div>
              <div class="article__title">
                <a href="#">Title on one or two lines lorem ipsum dolor sit amet</a>
              </div>
            </article>
          </div>
          <div class="col-12 col-s-6 col-xl-12">
            <article class="article m-bottom--medium">
              <div class="article__meta">
                <div class="article__kicker">
                  Author
                </div>
              </div>
              <div class="article__title">
                <a href="#">Title on one or two lines lorem ipsum dolor sit amet</a>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </article>

  <h3 class="container">.reading-detail--story (3/2 image, cropped to square on larger screens)</h3></div>
  <article class="reading-detail reading-detail--story container m-top--large">
    <header class="reading-detail__header">
      <h2 class="reading-detail__author">Story author: he may have 4 or 5 family names</h2>
      <div class="reading-detail__header-wrapper">
        <div class="reading-detail__header-content">
          <h1 class="reading-detail__title h1">Da ingegnere a sacerdote: quel “delta” passo dopo passo</h1>
          <p class="reading-detail__summary text text--lead">Ho aperto la porta piano piano. La prima volta verso i 9 anni, ascoltando in parrocchia la testimonianza di un giovane seminarista. Mi piaceva lo stile di Gesù, soprattutto quell’ intessere autentiche relazioni di amicizia. Poi alti e bassi, inseguendo quel che mi piaceva, fino a quando il mio viceparroco mi ha rivolto un invito […]</p>
        </div>
        <figure class="reading-detail__image">
          <img src="https://via.placeholder.com/720x480" alt="" sizes="(max-width:564px) 100vw, (max-width:999px) 200px, (max-width:1199px) 360px, (max-width:1199px) 440px, 480px" loading="eager" width="480" height="320">
        </figure>
      </div>
    </header>

    <div class="row">
      <div class="reading-detail__content eum-styled-content col-12 col-xl-8">
        <p>Ho aperto la porta piano piano. La prima volta verso i 9 anni, ascoltando in parrocchia la testimonianza di un giovane seminarista. Mi piaceva lo stile di Gesù, soprattutto quell’ intessere autentiche relazioni di amicizia. Poi alti e bassi, inseguendo quel che mi piaceva, fino a quando il mio viceparroco mi ha rivolto un invito ad un campo di servizio, quando ero&nbsp;animatore dell’Azione Cattolica nel mio paese, Romano D’Ezzellino,&nbsp;in provincia di Vicenza.</p>
        <h2>A Barbiana, nel Mugello</h2>
        <p>Avevo appena conseguito la maturità all’Istituto professionale, ero un tornitore e fresatore pronto per entrare nel mondo dell’azienda. Lì a Barbiana ho iniziato a leggere le lettere di don Lorenzo. Su quelle colline per la prima volta ho pensato e deciso di proseguire gli studi in ingegneria per cercare degli strumenti per essere di aiuto a me e agli altri.&nbsp;</p>
        <h2>Tappe importanti</h2>
        <p>Tre le esperienze che mi hanno aiutato a crescere: la permanenza al collegio “don Nicola Mazza”, dove ho allargato i confini del mio mondo, incontrando ragazzi provenienti dal Brasile, dalla Georgia, dall’Africa impegnati in studi diversi. Un’opera per ragazze adolescenti provenienti da famiglie difficili. Vi lavoravano le suore elisabettine, le stesse dell’asilo che ho frequentato da piccolo e a cui devo molto. Lì ha iniziato a prendere forma quel sogno abbozzato ai tempi di Barbiana: vivere nel quotidiano la concretezza del Vangelo. Fu proprio una suora elisabettina ad indirizzarmi da un gesuita, p. Luigi Saggin, per vivere l’esperienza della direzione spirituale. Un tempo di discernimento, un taglio importante a molti aspetti della mia vita.&nbsp;</p>
        <h2>Comprendere la propria strada</h2>
        <p>Volevo capire se essere sacerdote era la mia vocazione. Ho lasciato Padova per iniziare a lavorare a Lonigo proseguendo la direzione spirituale con p. Tata. Ho conosciuto persone capaci di vera e gratuita amicizia. Un giorno andando per l’ennesima volta al Centro Giovanile di Padova, ho trovato di fronte alla cappella del Centro una fotocopia di una lettera di p. Arrupe. Il p. Generale metteva duramente in discussione la Compagnia, il suo modo di procedere, parole che mi hanno dato una profonda consolazione.&nbsp;</p>
        <h2>Inizia l’affidamento</h2>
        <p>Quel 17 novembre del 2002, quando sono entrato in noviziato, ho sperimentato il viaggio più lungo della mia vita. Mia mamma e mio fratello si fermavano ad ogni distributore per vedere se cambiavo idea. In quel viaggio ho cercato di fidarmi, di andare lontano, provare a mettere in discussione i miei schemi. Per questo sono rimasto di “sasso” quando, in Spagna a Madrid, sul punto di terminare i miei studi di Teologia, il Provinciale mi ha chiesto di seguire un progetto a Padova, prendendo la licenza in Liturgia, per poi essere destinato in Albania.&nbsp;</p>
<p>Due anni speciali perché lo studio è stata la mia risorsa per la prima volta! Ho conosciuto persone e discipline nuove, inizio a percepire una rinnovata visione del mondo. Cambia anche la mia esperienza di affidamento, meno condizionato. Dovevo arrivare in Albania 2014 per poi fare il direttore della Scuola verso il 2017 ma nel 2014 stesso inizio il mio servizio da direttore senza sapere la lingua e senza aver mai lavorato in un ufficio scolastico. Nel 2019 la richiesta del Provinciale a seguire lo sviluppo del Piano Apostolico. Le sorprese continuano di giorno in giorno, tanto più in questo tempo. Ho imparato a riconoscere la differenza tra i miei e i Suoi piani, a pazientare ed attendere.&nbsp;</p>
      </div>
      <div class="reading-detail__sidebar col-12 col-xl-3">
        <div class="h6 h--sans m-bottom--small">
          Other readings
        </div>
        <div class="row">
          <div class="col-12 col-s-6 col-xl-12">
            <article class="article m-bottom--medium">
              <div class="article__meta">
                <div class="article__kicker">
                  Author
                </div>
              </div>
              <div class="article__title">
                <a href="#">Title on one or two lines lorem ipsum dolor sit amet</a>
              </div>
            </article>
          </div>
          <div class="col-12 col-s-6 col-xl-12">
            <article class="article m-bottom--medium">
              <div class="article__title">
                <a href="#">Title on one or two lines lorem ipsum dolor sit amet</a>
              </div>
            </article>
          </div>
          <div class="col-12 col-s-6 col-xl-12">
            <article class="article m-bottom--medium">
              <div class="article__meta">
                <div class="article__kicker">
                  Author
                </div>
              </div>
              <div class="article__title">
                <a href="#">Title on one or two lines lorem ipsum dolor sit amet</a>
              </div>
            </article>
          </div>
          <div class="col-12 col-s-6 col-xl-12">
            <article class="article m-bottom--medium">
              <div class="article__meta">
                <div class="article__kicker">
                  Author
                </div>
              </div>
              <div class="article__title">
                <a href="#">Title on one or two lines lorem ipsum dolor sit amet</a>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </article>

  <h3 class="container">Test with no image</h3></div>
  <article class="reading-detail no-image container m-top--large">
    <header class="reading-detail__header">
      <h2 class="reading-detail__author">Story author: he may have 4 or 5 family names</h2>
      <div class="reading-detail__header-wrapper">
        <div class="reading-detail__header-content">
          <h1 class="reading-detail__title h1">Da ingegnere a sacerdote: quel “delta” passo dopo passo</h1>
          <p class="reading-detail__summary text text--lead">Ho aperto la porta piano piano. La prima volta verso i 9 anni, ascoltando in parrocchia la testimonianza di un giovane seminarista. Mi piaceva lo stile di Gesù, soprattutto quell’ intessere autentiche relazioni di amicizia. Poi alti e bassi, inseguendo quel che mi piaceva, fino a quando il mio viceparroco mi ha rivolto un invito […]</p>
        </div>
      </div>
    </header>
  </article>
{% endblock %}
