{% extends 'partials/_base.njk' %}
{% set current_category = 'items' %}
{% set current_item = 'reading' %}

{% block content %}
  <section class="container p-bottom--medium p-top--medium">
    <h3>Reading</h3>
    <div class="row">
      <div class="col-12 col-m-4">
        <pre>default</pre>
        <article class="reading">
          <div class="reading__image">
            <a href="#">
              <img src="https://via.placeholder.com/220x330/?text=Ratio+2:3"/>
            </a>
          </div>
          <div class="reading__content">
            <div class="reading__title"><a href="#">La via ignaziana</a></div>
            <div class="reading__author">Simon Decloux</div>
            <div class="reading__publisher">Borla</div>
          </div>
        </article>
      </div>
      <div class="col-12 col-m-4">
        <pre>no image</pre>
        <article class="reading m-bottom--medium">
          <div class="reading__content">
            <div class="reading__title"><a href="#">Reading</a></div>
            <div class="reading__author">Simon Decloux</div>
            <div class="reading__publisher">Borla</div>
          </div>
        </article>
      </div>
    </div>
  </section>
  <section class="container p-bottom--medium p-top--medium">
    <h3>.reading--stretched</h3>
    <div class="row">
      <div class="col-12 col-m-3">
        <article class="reading reading--stretched">
          <figure class="reading__image" href="#">
            <a href="#">
              <img src="https://demo.jesuits-eum.media/eum/wp-content/uploads/sites/4/2020/06/RE.delle-schiere.jpg"/>
            </a>
          </figure>
          <div class="reading__content">
            <div class="reading__title"><a href="#">Il re delle schiere</a></div>
            <div class="reading__publisher">San Paolo</div>
            <div class="reading__text">
              L'esercizio del re temporale e del Re eterno (ES 91_98)
            </div>
          </div>
        </article>
      </div>
      <div class="col-12 col-m-3">
        <article class="reading reading--stretched">
          <a class="reading__image" href="#">
            <svg class="ihs-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 42"><use xlink:href="#ihs-svg"></use></svg>
          </a>
          <div class="reading__content">
            <div class="reading__title"><a href="#">La via ignaziana</a></div>
            <div class="reading__author">Simon Decloux</div>
            <div class="reading__publisher">Borla</div>
          </div>
        </article>
      </div>
      <div class="col-12 col-m-3">
        <article class="reading reading--stretched">
          <a class="reading__image" href="#">
            <img src="https://demo.jesuits-eum.media/eum/wp-content/uploads/sites/4/2020/06/Pietro-Favre.jpg"/>
          </a>
          <div class="reading__content">
            <div class="reading__title"><a href="#">Pietro Favre</a></div>
            <div class="reading__author">Andrea Dall'Asta</div>
            <div class="reading__publisher">Messaggero</div>
            <div class="reading__text">
              Tenerezza e misericordia
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
  <section class="container p-bottom--medium p-top--medium">
      <div class="carousel">
          <div class="carousel__title h4">.reading--stretched in carousel (equal heights)</div>
          <div class="carousel__slider">
            <article class="reading reading--stretched carousel__slide">
              <a class="reading__image" href="#">
                <img src="https://demo.jesuits-eum.media/eum/wp-content/uploads/sites/4/2020/06/RE.delle-schiere.jpg"/>
              </a>
              <div class="reading__content">
                <div class="reading__title"><a href="#">Il re delle schiere</a></div>
                <div class="reading__publisher">San Paolo</div>
                <div class="reading__text">
                  L'esercizio del re temporale e del Re eterno (ES 91_98)
                </div>
              </div>
            </article>
            <article class="reading reading--stretched carousel__slide">
              <a class="reading__image" href="#">
                <svg class="ihs-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 42"><use xlink:href="#ihs-svg"></use></svg>
              </a>
              <div class="reading__content">
                <div class="reading__title"><a href="#">La via ignaziana</a></div>
                <div class="reading__author">Simon Decloux</div>
                <div class="reading__publisher">Borla</div>
              </div>
            </article>
            <article class="reading reading--stretched carousel__slide">
              <a class="reading__image" href="#">
                <img src="https://demo.jesuits-eum.media/eum/wp-content/uploads/sites/4/2020/06/Pietro-Favre.jpg"/>
              </a>
              <div class="reading__content">
                <div class="reading__title"><a href="#">Pietro Favre</a></div>
                <div class="reading__author">Andrea Dall'Asta</div>
                <div class="reading__publisher">Messaggero</div>
                <div class="reading__text">
                  Tenerezza e misericordia
                </div>
              </div>
            </article>
            <article class="reading reading--stretched carousel__slide">
              <a class="reading__image" href="#">
                <svg class="ihs-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 42"><use xlink:href="#ihs-svg"></use></svg>
              </a>
              <div class="reading__content">
                <div class="reading__title"><a href="#">La via ignaziana</a></div>
                <div class="reading__author">Simon Decloux</div>
                <div class="reading__publisher">Borla</div>
              </div>
            </article>
      </div>
  </section>
{% endblock %}
