{% extends 'partials/_base.njk' %}
{% set current_category = 'sections' %}
{% set current_item = 'special' %}

{% block content %}

  <section class="container p-bottom--medium p-top--medium">
    <div class="special">
      <div class="special__wrapper">
        <div class="special__content">
          <div class="special__content-inner">
            <div class="special__kicker">Il nostro legame con la chiesa</div>
            <h4 class="special__title">Un ordine religioso sacerdotale</h4>
            <p class="special__text">Siamo circa 16.000 sparsi in 122 Paesi del mondo. Ogni membro, sacerdote o fratello è chiamato a onorare tre voti: povertà, castità, obbedienza.</p>
            <div class="special__btn">
              <a href="#">La Compagnia di Gesù</a>
            </div>
          </div>
        </div>
        <figure class="special__image">
          <img src="https://via.placeholder.com/720x480" alt="">
        </figure>
      </div>
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    <div class="special special--full">
      <div class="special__wrapper">
        <div class="special__content">
          <div class="special__content-inner">
            <div class="special__kicker">Il nostro legame con la chiesa</div>
            <h4 class="special__title">
              <a href="#">Un ordine religioso sacerdotale</a>
            </h4>
            <div class="special__text">
              <p>Testing inner paragraphs. Siamo circa 16.000 sparsi in 122 Paesi del mondo.</p>
              <p>Ogni membro, sacerdote o fratello è chiamato a onorare tre voti: povertà, castità, obbedienza.</p>
            </div>
            <div class="special__btn">
              <a href="#">La Compagnia di Gesù</a>
            </div>
          </div>
        </div>
        <figure class="special__image">
          <img src="https://via.placeholder.com/720x480" alt="">
        </figure>
      </div>
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    <div class="special special--half">
      <div class="special__wrapper">
        <div class="special__content">
          <div class="special__content-inner">
            <div class="special__kicker">Il nostro legame con la chiesa</div>
            <h4 class="special__title">Un ordine religioso sacerdotale</h4>
            <p class="special__text">Siamo circa 16.000 sparsi in 122 Paesi del mondo. Ogni membro, sacerdote o fratello è chiamato a onorare tre voti: povertà, castità, obbedienza.</p>
            <div class="special__btn">
              <a href="#">La Compagnia di Gesù</a>
            </div>
          </div>
        </div>
        <figure class="special__image">
          <img src="https://via.placeholder.com/720x480" alt="">
        </figure>
      </div>
    </div>
  </section>

  <section class="container p-bottom--medium p-top--medium">
    <div class="special special--offset">
      <div class="special__wrapper">
        <div class="special__content">
          <div class="special__content-inner">
            <div class="special__kicker">Il nostro legame con la chiesa</div>
            <h4 class="special__title">Un ordine religioso sacerdotale</h4>
            <p class="special__text">Siamo circa 16.000 sparsi in 122 Paesi del mondo. Ogni membro, sacerdote o fratello è chiamato a onorare tre voti: povertà, castità, obbedienza.</p>
            <div class="special__btn">
              <a href="#">La Compagnia di Gesù</a>
            </div>
          </div>
        </div>
        <figure class="special__image">
          <img src="https://via.placeholder.com/720x480" alt="">
        </figure>
      </div>
    </div>
  </section>
{% endblock %}
