{% extends "./partials/_base.njk" %}
{% set current_category = 'sections' %}
{% set current_item = 'template-header' %}

{% block content %}
<section class="m-bottom--medium">
  <header class="template-header container">
    <h1 class="template-header__title">
      Educazione
    </h1>
    <div class="template-header__breadcrumbs">
      <a href="#">
        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" class="icon">
          <path d="M208 448V320h96v128h97.6V256H464L256 64 48 256h62.4v192z"></path>
        </svg>
        Jesuits Eum</a>
      <a href="#">Cosa facciamo</a>
      <span>Educazione</span>
    </div>
  </header>
</section>
{% endblock %}
