{% extends 'partials/_base.njk' %}
{% set current_category = 'items' %}
{% set current_item = 'topic' %}

{% block content %}
  <section class="container p-bottom--medium p-top--medium">
    <h3>Topic</h3>
    <div class="row">
      <div class="col-12 col-l-6">
        <pre>default</pre>
        <div class="topic">
          <div class="topic__wrapper">
            <div class="topic__image">
              <img src="https://via.placeholder.com/600x600/?text=Ratio+1:1"/>
            </div>
            <div class="topic__content">
              <header class="topic__header">
                <div class="topic__kicker">Italy</div>
                <div class="topic__title">
                  <a href="#">Short title</a>
                </div>
              </header>
              <div class="topic__text"><p>Nullam elementum porttitor tortor, vitae commodo tortor varius et. </p><p>Duis id pellentesque tortor. In blandit efficitur arcu, a vestibulum felis ornare dapibus. Morbi cursus turpis sed lorem venenatis laoreet. Sed eu leo nec nibh euismod ullamcorper id ac nisi.</p></div>
              <div class="topic__btn">
                <a href="#" rel="external">External link</a>
                <a href="#">Another link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-l-6">
        <pre>.text--small</pre>
        <div class="topic topic--text-small">
          <div class="topic__wrapper">
            <div class="topic__image">
              <img src="https://via.placeholder.com/600x600/?text=Ratio+1:1"/>
            </div>
            <div class="topic__content">
              <header class="topic__header">
                <div class="topic__kicker">Italy</div>
                <div class="topic__title">Short title</div>
              </header>
              <div class="topic__text">Nullam elementum porttitor tortor, vitae commodo tortor varius et. Duis id pellentesque tortor. In blandit efficitur arcu, a vestibulum felis ornare dapibus. Morbi cursus turpis sed lorem venenatis laoreet. Sed eu leo nec nibh euismod ullamcorper id ac nisi. Nullam elementum porttitor tortor, vitae commodo tortor varius et. Duis id pellentesque tortor. In blandit efficitur arcu, a vestibulum felis ornare dapibus. Morbi cursus turpis sed lorem venenatis laoreet. Sed eu leo nec nibh euismod ullamcorper id ac nisi.</div>
              <div class="topic__btn">
                <a href="#" rel="external">External link</a>
                <a href="#">Another link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container p-bottom--medium p-top--medium">
    <div class="row">
      <div class="col-12 col-xl-3">
        <pre>.topic--small</pre>
        <div class="topic topic--small">
          <div class="topic__wrapper">
            <div class="topic__image">
              <img src="https://via.placeholder.com/600x600/?text=Ratio+1:1"/>
            </div>
            <div class="topic__content">
              <header class="topic__header">
                <div class="topic__kicker">Italy</div>
                <div class="topic__title">Short title</div>
              </header>
              <div class="topic__btn">
                <a href="#">Link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-l-3">
        <pre>&--small &__header--bottom</pre>
        <div class="topic topic--small">
          <div class="topic__wrapper">
            <div class="topic__image">
              <img src="https://via.placeholder.com/600x600/?text=Ratio+1:1"/>
            </div>
            <div class="topic__content">
              <header class="topic__header topic__header--bottom">
                <div class="topic__kicker">Italy</div>
                <div class="topic__title">Short title</div>
              </header>
              <div class="topic__btn">
                <a href="#">Link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-l-3">
        <pre>.topic--small, clickable</pre>
        <a href="#" class="topic topic--small">
          <div class="topic__wrapper">
            <div class="topic__image">
              <img src="https://via.placeholder.com/600x600/?text=Ratio+1:1"/>
            </div>
            <div class="topic__content">
              <header class="topic__header">
                <div class="topic__kicker">Italy</div>
                <div class="topic__title">Short title</div>
              </header>
              <div class="topic__text">Nullam elementum porttitor tortor, vitae commodo tortor varius et. Duis id pellentesque tortor.</div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
{% endblock %}
