{% set current_category = current_category | default('none') %}{% set current_item = current_item | default('none') %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Jesuits Eum Templates</title>
    <link href="https://fonts.googleapis.com/css?family=Cinzel:400|EB+Garamond:400,400i,500,500i,600,600i,700,700i|Roboto+Mono:400,500|Rubik:300,300i,400,400i,500,500i" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/jesuits-eum-framework/build/assets/css/main.css">
    <link rel="stylesheet" href="assets/css/templates.css">
    <script defer="defer" src="https://unpkg.com/jesuits-eum-framework/build/assets/js/main.dist.js"></script>
    <script defer="defer" src="assets/js/main.dist.js"></script>
    {# <script>window.MSInputMethodContext && document.documentMode && document.write('<script src="https://cdn.jsdelivr.net/gh/nuxodin/ie11CustomProperties@4.1.0/ie11CustomProperties.min.js"><\x2fscript>');</script> #}
  </head>
  <body>
    {% include 'partials/_logo.njk' %}
    {% block menu %}
    {% endblock %}
    <header id="main-header" class="main-header">
      <div class="main-header__wrapper container">
        <div class="main-header__mobile-wrapper">
          <div class="main-header__brand">
            <a href="/" class="main-header__brand-logo">
              <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 42 42" class="ihs-svg">
                <use xlink:href="#ihs-svg"></use>
              </svg>
            </a>
            <span class="main-header__brand-title">
              <a href="/" tabindex="-1">Jesuits</a>
              <br>
              <span class="main-header__brand-subtitle">Society of Jesus - Euro-Mediterranean Province</span>
            </span>
          </div>
          <button class="main-header__mobile-trigger js-main-header-trigger" aria-haspopup="true" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" class="icon icon--medium open">
              <path d="M64 384h384v-42.666H64V384zm0-106.666h384v-42.667H64v42.667zM64 128v42.665h384V128H64z"></path>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" class="icon icon--medium close">
              <path d="M405 136.798L375.202 107 256 226.202 136.798 107 107 136.798 226.202 256 107 375.202 136.798 405 256 285.798 375.202 405 405 375.202 285.798 256z"></path>
            </svg>
            <span class="screen-reader-text">Toggle website menu</span>
          </button>
        </div>
        <div class="main-header__mobile-dropdown">
          <nav class="main-header__menu">
            <ul class="nav">
              {% for category in menu %}
              <li class="nav__item nav__item--has-dropdown js-dropdown">
                <button class="nav__link nav__link--top-level {% if current_category == category.name %} nav__link--current {% endif %} js-dropdown-trigger" aria-haspopup="true" aria-expanded="false">
                  {{ category.name | capitalize }}
                  <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" width="20" height="20" stroke-width="2" class="icon">
                    <polyline points="6 9 12 15 18 9"></polyline>
                  </svg>
                </button>
                <ul class="nav__dropdown js-dropdown-content">
                  {% for item in category.items %}
                  <li class="nav__item">
                    <a class="nav__link {% if current_item == item %} nav__link--current {% endif %} nav__link--nested" href="{{ item }}.html">{{ item | replace('-', ' ') | capitalize }}</a>
                  </li>
                  {% endfor %}
                </ul>
              </li>
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
