<div style="display:none;">
  <svg>
    <symbol id="ihs-svg">
      <path d="M0.966,17.073c0.015-0.044,0.061-0.07,0.104-0.061c0,0,0.032,0.007,0.092,0.02
c0.063,0.016,0.145,0.019,0.266,0.065c0.118,0.038,0.258,0.103,0.396,0.189c0.141,0.084,0.277,0.178,0.449,0.226
c0.082,0.033,0.178,0.045,0.273,0.066l0.035,0.007c0,0,0.007,0.003,0.011,0.004l0.016,0.001L2.689,17.6
c0.055,0.002,0.11,0.009,0.165,0.013c0.097-0.007,0.188-0.005,0.293-0.029C3.25,17.564,3.36,17.53,3.49,17.501
c0.063-0.016,0.137-0.025,0.205-0.036c0.07-0.012,0.143-0.009,0.214-0.012c0.075-0.008,0.142,0.006,0.213,0.012l0.106,0.01
l0.027,0.003l0.013,0.001h0.005l0.017,0.005l0.006,0.002l0.048,0.009l0.189,0.039c0.069,0.017,0.15,0.049,0.226,0.075
c0.147,0.06,0.277,0.137,0.394,0.208c0.215,0.137,0.379,0.198,0.609,0.232l0.032,0.007l0.011,0.003l0.022,0.001l0.097,0.008
c0.059,0.005,0.138,0.018,0.172,0.01c0.044-0.008,0.081-0.004,0.13-0.014s0.091-0.015,0.145-0.027
c0.102-0.025,0.224-0.063,0.366-0.088c0.144-0.029,0.29-0.029,0.431-0.03c0.064,0.005,0.131,0.011,0.194,0.019l0.098,0.009
l0.011,0.002h0.006h0.003c-0.02-0.004,0.033,0.008,0.028,0.006l0.02,0.004l0.038,0.009c0.107,0.024,0.188,0.03,0.333,0.085
c0.268,0.085,0.45,0.22,0.575,0.29c0.028,0.017,0.059,0.036,0.086,0.049c0.023,0.012,0.046,0.023,0.068,0.032
c0.042,0.025,0.087,0.032,0.125,0.047c0.071,0.029,0.149,0.033,0.193,0.045c0.046,0.008,0.071,0.014,0.071,0.014l0.004,0.002
c-0.072,0.325-0.134,0.657-0.182,0.994c-0.008-0.001-0.013-0.005-0.019-0.006c0,0-0.038-0.01-0.112-0.032
c-0.072-0.026-0.174-0.043-0.313-0.11c-0.066-0.031-0.145-0.06-0.219-0.11C8.14,19.241,8.1,19.219,8.059,19.193
c-0.037-0.026-0.069-0.051-0.106-0.078c-0.139-0.104-0.247-0.191-0.352-0.236c-0.033-0.029-0.155-0.062-0.252-0.093l-0.037-0.011
l-0.011-0.003l-0.063-0.014c-0.045-0.009-0.089-0.019-0.133-0.027c-0.176-0.022-0.318-0.008-0.602,0.038
c-0.066,0.011-0.148,0.014-0.223,0.021c-0.074,0.004-0.162-0.005-0.244-0.009c-0.092-0.003-0.14-0.019-0.206-0.031l-0.095-0.017
l-0.068-0.014l-0.054-0.016L5.401,18.64c-0.07-0.026-0.144-0.063-0.214-0.092c-0.071-0.031-0.134-0.079-0.2-0.118
c-0.065-0.04-0.115-0.083-0.174-0.124c-0.1-0.077-0.191-0.143-0.278-0.19c-0.048-0.019-0.084-0.043-0.139-0.064l-0.185-0.058
l-0.046-0.015l-0.003-0.001H4.159l-0.02-0.004l-0.084-0.017C4,17.947,3.942,17.93,3.891,17.931
c-0.107-0.012-0.211-0.009-0.323,0.003c-0.11,0.015-0.232,0.041-0.365,0.051c-0.128,0.018-0.267,0.006-0.396-0.003
c-0.056-0.011-0.111-0.021-0.165-0.033l-0.079-0.015L2.544,17.93c-0.028-0.006-0.021-0.006-0.032-0.008l-0.04-0.012
C2.362,17.874,2.256,17.85,2.16,17.8c-0.201-0.081-0.355-0.211-0.478-0.302c-0.124-0.096-0.231-0.157-0.325-0.197
c-0.089-0.051-0.188-0.067-0.242-0.089c-0.06-0.019-0.091-0.028-0.091-0.028C0.979,17.17,0.951,17.12,0.966,17.073z M4.148,9.736
C4.108,9.705,4.104,9.648,4.135,9.61c0.031-0.035,0.082-0.04,0.12-0.016c0,0,0.026,0.019,0.077,0.053
c0.052,0.038,0.126,0.073,0.22,0.162c0.096,0.081,0.199,0.196,0.295,0.328c0.099,0.132,0.188,0.269,0.328,0.381
c0.061,0.063,0.146,0.109,0.227,0.164l0.029,0.022c0.002,0,0.008,0.004,0.011,0.006l0.015,0.007l0.071,0.039
c0.049,0.024,0.096,0.051,0.146,0.077c0.09,0.029,0.175,0.066,0.281,0.084c0.101,0.022,0.218,0.031,0.348,0.053
c0.065,0.01,0.136,0.03,0.204,0.046c0.068,0.018,0.136,0.047,0.203,0.072c0.07,0.022,0.128,0.06,0.192,0.092l0.095,0.05l0.022,0.014
l0.012,0.005l0.003,0.002l0.015,0.012l0.005,0.003l0.041,0.026l0.159,0.11c0.058,0.042,0.121,0.102,0.18,0.155
c0.115,0.111,0.204,0.23,0.284,0.343c0.146,0.206,0.274,0.327,0.474,0.448l0.026,0.019l0.011,0.004l0.021,0.012l0.085,0.045
c0.053,0.025,0.119,0.068,0.155,0.073c0.042,0.011,0.077,0.028,0.125,0.039c0.049,0.008,0.089,0.021,0.143,0.028
c0.104,0.016,0.231,0.027,0.375,0.061c0.143,0.027,0.277,0.082,0.407,0.135c0.059,0.029,0.116,0.06,0.174,0.092L9.8,12.9
l0.011,0.007l0.005,0.003h0.002C9.8,12.896,9.845,12.93,9.84,12.927l0.018,0.011l0.033,0.024c0.089,0.063,0.163,0.1,0.274,0.204
c0.214,0.182,0.33,0.374,0.42,0.488c0.02,0.027,0.041,0.058,0.06,0.079c0.017,0.02,0.035,0.038,0.052,0.057
c0.03,0.038,0.068,0.063,0.098,0.09c0.054,0.054,0.126,0.088,0.161,0.117c0.041,0.025,0.063,0.038,0.063,0.038l0.005,0.004
c-0.195,0.276-0.381,0.558-0.552,0.849c-0.004-0.005-0.01-0.01-0.017-0.012c0,0-0.029-0.026-0.089-0.073
c-0.058-0.052-0.145-0.106-0.246-0.221c-0.051-0.056-0.11-0.111-0.161-0.187c-0.025-0.036-0.053-0.073-0.081-0.112
c-0.025-0.037-0.044-0.072-0.067-0.111c-0.092-0.149-0.158-0.273-0.235-0.355c-0.02-0.038-0.121-0.113-0.197-0.18l-0.031-0.023
l-0.01-0.011l-0.054-0.034c-0.036-0.026-0.073-0.051-0.111-0.078c-0.152-0.085-0.291-0.128-0.569-0.192
c-0.066-0.016-0.144-0.044-0.212-0.067c-0.073-0.024-0.151-0.065-0.225-0.099c-0.085-0.039-0.121-0.072-0.178-0.107l-0.081-0.054
l-0.059-0.039l-0.044-0.035l-0.17-0.141c-0.057-0.049-0.109-0.111-0.161-0.167c-0.055-0.056-0.095-0.124-0.142-0.185
c-0.044-0.063-0.075-0.123-0.112-0.184c-0.063-0.108-0.122-0.204-0.187-0.28c-0.035-0.036-0.06-0.073-0.102-0.112l-0.147-0.125
l-0.037-0.031L6.743,11.67l-0.004-0.001l-0.018-0.014L6.65,11.61c-0.047-0.03-0.093-0.067-0.142-0.088
c-0.095-0.052-0.191-0.09-0.299-0.119c-0.107-0.03-0.231-0.053-0.357-0.094c-0.126-0.035-0.249-0.098-0.365-0.157
c-0.046-0.029-0.094-0.06-0.139-0.092L5.28,11.017l-0.016-0.01c-0.023-0.017-0.018-0.014-0.026-0.019l-0.033-0.029
c-0.088-0.073-0.175-0.137-0.246-0.22c-0.153-0.15-0.246-0.331-0.325-0.461c-0.076-0.136-0.153-0.234-0.226-0.31
C4.347,9.891,4.262,9.837,4.22,9.795C4.171,9.757,4.148,9.736,4.148,9.736z M9.349,13.613C9.354,13.616,9.358,13.617,9.349,13.613
L9.349,13.613z M9.925,4.134c0.025,0.053,0.082,0.134,0.109,0.232c0.038,0.097,0.07,0.217,0.091,0.372
c0.022,0.149,0.04,0.35,0.123,0.549c0.033,0.104,0.092,0.195,0.144,0.299l0.021,0.037c0.005,0.011,0,0.004,0.016,0.029l0.012,0.016
l0.046,0.067c0.03,0.044,0.061,0.091,0.092,0.136c0.084,0.1,0.176,0.205,0.277,0.285c0.101,0.087,0.206,0.155,0.294,0.223
s0.165,0.142,0.232,0.224c0.037,0.037,0.063,0.092,0.097,0.137l0.048,0.07l0.012,0.018l0.002,0.001l0.001,0.004l0.022,0.044
l0.091,0.171c0.023,0.054,0.033,0.096,0.05,0.143c0.03,0.096,0.049,0.208,0.065,0.332c0.012,0.07,0.017,0.137,0.033,0.211
c0.02,0.074,0.031,0.152,0.06,0.224c0.029,0.072,0.054,0.15,0.086,0.217l0.104,0.197l0.028,0.05l0.037,0.057l0.055,0.078
c0.038,0.055,0.061,0.102,0.125,0.169c0.054,0.06,0.108,0.128,0.167,0.178c0.056,0.048,0.115,0.104,0.171,0.143
c0.233,0.167,0.344,0.259,0.451,0.397c0.026,0.037,0.051,0.077,0.076,0.114l0.035,0.053l0.006,0.012l0.017,0.034
c0.047,0.091,0.11,0.199,0.114,0.241c0.041,0.106,0.056,0.246,0.081,0.418c0.007,0.045,0.012,0.085,0.021,0.13
c0.012,0.047,0.023,0.092,0.033,0.136c0.017,0.087,0.052,0.162,0.078,0.232c0.049,0.146,0.108,0.229,0.142,0.299
c0.036,0.066,0.055,0.102,0.055,0.102c0.003,0.006,0.008,0.01,0.011,0.017c0.268-0.203,0.548-0.392,0.832-0.572l-0.004-0.006
c0,0-0.014-0.021-0.038-0.06c-0.023-0.04-0.076-0.099-0.105-0.17c-0.018-0.035-0.043-0.072-0.058-0.12
c-0.009-0.022-0.016-0.047-0.024-0.072c-0.01-0.026-0.018-0.063-0.025-0.096c-0.039-0.138-0.073-0.362-0.201-0.611
c-0.063-0.14-0.116-0.202-0.176-0.295l-0.021-0.033L13.92,9.176c0.004,0.005-0.025-0.043-0.016-0.023l-0.001-0.003L13.9,9.146
l-0.009-0.009l-0.061-0.076c-0.041-0.048-0.082-0.1-0.126-0.151c-0.1-0.098-0.203-0.199-0.325-0.28
c-0.117-0.083-0.232-0.145-0.321-0.197c-0.048-0.028-0.081-0.056-0.122-0.082c-0.039-0.028-0.065-0.058-0.1-0.084
c-0.032-0.019-0.077-0.082-0.118-0.129l-0.06-0.072l-0.015-0.018l-0.007-0.008l-0.019-0.028c-0.138-0.188-0.211-0.349-0.267-0.595
c-0.031-0.135-0.066-0.278-0.13-0.426c-0.035-0.073-0.07-0.151-0.106-0.214l-0.106-0.16l-0.027-0.04l-0.003-0.007l-0.011-0.015
l-0.001-0.004l-0.009-0.01l-0.017-0.02l-0.067-0.083c-0.048-0.054-0.087-0.11-0.143-0.158c-0.055-0.049-0.104-0.103-0.159-0.144
c-0.06-0.042-0.117-0.086-0.173-0.119c-0.112-0.07-0.216-0.124-0.3-0.185c-0.093-0.058-0.155-0.124-0.229-0.184
c-0.034-0.045-0.07-0.086-0.104-0.13l-0.051-0.062l-0.012-0.013c-0.003-0.003-0.007-0.009-0.007-0.011l-0.02-0.029
c-0.052-0.082-0.113-0.159-0.146-0.24c-0.086-0.155-0.116-0.317-0.156-0.476c-0.037-0.16-0.091-0.305-0.148-0.416
c-0.05-0.118-0.107-0.18-0.14-0.235c-0.033-0.052-0.051-0.078-0.051-0.078c-0.025-0.037-0.077-0.052-0.117-0.03
C9.876,3.952,9.858,4.005,9.882,4.05C9.882,4.05,9.898,4.078,9.925,4.134z M35.807,11.525l-0.019,0.014h-0.001l-0.004,0.002
l-0.043,0.021l-0.172,0.091c-0.054,0.022-0.096,0.031-0.143,0.05c-0.096,0.03-0.207,0.049-0.33,0.065
c-0.072,0.011-0.138,0.017-0.213,0.034c-0.074,0.019-0.152,0.029-0.224,0.059c-0.072,0.029-0.147,0.053-0.217,0.085l-0.195,0.104
l-0.05,0.027l-0.059,0.039l-0.078,0.054c-0.055,0.038-0.1,0.06-0.168,0.123c-0.06,0.056-0.128,0.111-0.179,0.167
c-0.048,0.058-0.104,0.117-0.143,0.172c-0.167,0.234-0.259,0.345-0.396,0.452c-0.04,0.026-0.077,0.051-0.115,0.075l-0.051,0.035
l-0.014,0.007l-0.034,0.017c-0.089,0.047-0.198,0.11-0.243,0.113c-0.104,0.042-0.244,0.057-0.415,0.082
c-0.046,0.008-0.086,0.012-0.13,0.021c-0.047,0.012-0.093,0.022-0.136,0.031c-0.087,0.019-0.163,0.052-0.233,0.078
c-0.145,0.05-0.229,0.11-0.299,0.144c-0.066,0.036-0.102,0.055-0.102,0.055c-0.004,0.003-0.01,0.007-0.014,0.011
c0.2,0.268,0.391,0.548,0.569,0.832l0.007-0.003c0,0,0.02-0.015,0.06-0.04c0.039-0.022,0.1-0.078,0.169-0.105
c0.035-0.017,0.072-0.044,0.12-0.055c0.022-0.011,0.047-0.018,0.073-0.028c0.025-0.008,0.063-0.016,0.095-0.023
c0.14-0.04,0.36-0.074,0.61-0.202c0.143-0.063,0.203-0.116,0.296-0.175l0.033-0.021l0.018-0.012
c-0.004,0.003,0.043-0.025,0.023-0.015l0.003-0.003L33.47,13.9l0.01-0.007l0.075-0.063c0.049-0.04,0.101-0.083,0.151-0.124
c0.098-0.101,0.2-0.204,0.281-0.326c0.082-0.118,0.144-0.232,0.197-0.32c0.028-0.049,0.055-0.082,0.083-0.123
c0.026-0.041,0.056-0.065,0.083-0.101c0.018-0.031,0.081-0.076,0.128-0.116l0.072-0.063l0.018-0.015l0.01-0.007l0.026-0.018
c0.188-0.14,0.349-0.211,0.596-0.266c0.133-0.032,0.277-0.069,0.426-0.132c0.072-0.033,0.151-0.068,0.213-0.104l0.16-0.108
l0.043-0.025l0.004-0.003l0.016-0.012l0.003-0.002l0.01-0.008l0.021-0.016l0.082-0.069c0.053-0.046,0.109-0.085,0.16-0.141
c0.047-0.056,0.1-0.104,0.142-0.162c0.04-0.057,0.087-0.114,0.121-0.168c0.069-0.114,0.123-0.217,0.182-0.303
c0.058-0.092,0.122-0.155,0.186-0.227c0.043-0.036,0.087-0.072,0.128-0.108l0.063-0.05l0.012-0.011
c0.003-0.003,0.009-0.007,0.011-0.007l0.03-0.02c0.081-0.052,0.159-0.112,0.239-0.146c0.156-0.087,0.318-0.117,0.478-0.159
c0.159-0.034,0.304-0.087,0.415-0.146c0.119-0.052,0.18-0.108,0.234-0.14c0.052-0.034,0.079-0.052,0.079-0.052
c0.037-0.024,0.052-0.074,0.029-0.114c-0.022-0.045-0.075-0.063-0.119-0.04c0,0-0.029,0.015-0.082,0.045
c-0.054,0.023-0.137,0.081-0.235,0.108c-0.094,0.037-0.216,0.07-0.37,0.089c-0.151,0.024-0.351,0.042-0.551,0.127
c-0.104,0.032-0.195,0.09-0.297,0.141l-0.038,0.02c-0.009,0.006-0.005,0.002-0.027,0.018l-0.017,0.011l-0.067,0.045
c-0.046,0.032-0.092,0.063-0.138,0.095c-0.099,0.083-0.205,0.174-0.284,0.277c-0.085,0.101-0.154,0.205-0.223,0.293
c-0.068,0.089-0.14,0.162-0.225,0.231c-0.036,0.038-0.091,0.066-0.137,0.098L35.807,11.525z M29.047,9.282l-0.035,0.055
l-0.007,0.009l-0.026,0.029c-0.064,0.077-0.141,0.178-0.181,0.199c-0.081,0.077-0.205,0.144-0.354,0.232
c-0.039,0.025-0.075,0.045-0.112,0.069c-0.039,0.029-0.076,0.056-0.112,0.082c-0.074,0.051-0.131,0.11-0.187,0.159
c-0.113,0.104-0.169,0.189-0.221,0.247c-0.046,0.06-0.071,0.09-0.071,0.09c-0.004,0.006-0.008,0.011-0.011,0.015
c0.288,0.174,0.571,0.358,0.846,0.553l0.005-0.007c0,0,0.014-0.02,0.04-0.059c0.026-0.036,0.062-0.108,0.114-0.162
c0.027-0.03,0.052-0.067,0.09-0.098c0.02-0.018,0.037-0.035,0.057-0.052c0.021-0.019,0.054-0.04,0.08-0.061
c0.113-0.087,0.306-0.205,0.486-0.419c0.107-0.114,0.145-0.185,0.207-0.274l0.021-0.033l0.013-0.018
c-0.003,0.004,0.03-0.04,0.016-0.022l0.003-0.003l0.002-0.006l0.007-0.01l0.044-0.085c0.032-0.056,0.063-0.115,0.093-0.174
c0.052-0.132,0.107-0.265,0.134-0.409c0.033-0.141,0.046-0.27,0.062-0.371c0.007-0.056,0.02-0.096,0.028-0.146
c0.01-0.046,0.027-0.081,0.038-0.123c0.007-0.035,0.048-0.102,0.075-0.155l0.043-0.087l0.012-0.02l0.006-0.011l0.017-0.026
c0.121-0.2,0.242-0.328,0.449-0.474c0.111-0.08,0.23-0.169,0.343-0.284c0.054-0.059,0.113-0.122,0.157-0.178l0.108-0.162l0.025-0.04
l0.004-0.005l0.011-0.015l0.002-0.003l0.008-0.013l0.011-0.023l0.05-0.094c0.033-0.063,0.07-0.122,0.095-0.192
c0.022-0.069,0.053-0.133,0.07-0.202c0.016-0.068,0.035-0.14,0.044-0.203c0.023-0.131,0.033-0.247,0.054-0.349
c0.019-0.106,0.056-0.191,0.085-0.28c0.026-0.051,0.052-0.1,0.077-0.147l0.037-0.072l0.008-0.016
c0.002-0.003,0.007-0.009,0.007-0.009l0.021-0.03c0.056-0.079,0.104-0.165,0.164-0.228c0.113-0.139,0.251-0.228,0.382-0.326
c0.134-0.095,0.247-0.199,0.326-0.295c0.092-0.094,0.126-0.168,0.165-0.219c0.034-0.052,0.053-0.078,0.053-0.078
c0.024-0.039,0.019-0.091-0.018-0.118c-0.037-0.032-0.094-0.028-0.125,0.011c0,0-0.021,0.024-0.06,0.071
c-0.041,0.043-0.094,0.129-0.174,0.19c-0.075,0.072-0.174,0.148-0.31,0.226c-0.131,0.079-0.309,0.171-0.46,0.324
c-0.084,0.071-0.146,0.158-0.221,0.246l-0.027,0.033c-0.007,0.011-0.003,0.003-0.021,0.025l-0.011,0.019l-0.043,0.066
c-0.031,0.046-0.061,0.093-0.092,0.138c-0.058,0.117-0.121,0.24-0.157,0.366c-0.038,0.125-0.063,0.25-0.092,0.358
c-0.03,0.106-0.067,0.202-0.12,0.299c-0.019,0.049-0.057,0.093-0.088,0.141l-0.046,0.07l-0.014,0.019l-0.001,0.003l-0.003,0.004
l-0.03,0.035l-0.124,0.149c-0.04,0.042-0.075,0.066-0.112,0.101c-0.077,0.065-0.173,0.126-0.28,0.188
c-0.061,0.037-0.121,0.068-0.184,0.111c-0.061,0.048-0.128,0.088-0.186,0.141c-0.056,0.053-0.115,0.106-0.166,0.162l-0.142,0.171
l-0.034,0.044l-0.039,0.059l-0.053,0.079c-0.037,0.058-0.069,0.095-0.107,0.18c-0.035,0.073-0.077,0.151-0.1,0.224
c-0.024,0.07-0.052,0.146-0.068,0.212c-0.063,0.279-0.104,0.418-0.193,0.57C29.098,9.208,29.073,9.245,29.047,9.282z M24.088,9.017
c0,0,0.006-0.024,0.015-0.071c0.011-0.044,0.016-0.124,0.044-0.192c0.015-0.037,0.021-0.082,0.047-0.126
c0.009-0.022,0.021-0.045,0.033-0.07c0.012-0.025,0.033-0.056,0.05-0.084c0.07-0.126,0.203-0.308,0.29-0.575
c0.055-0.146,0.061-0.226,0.083-0.331l0.009-0.041l0.005-0.019c-0.002,0.004,0.011-0.049,0.007-0.028V7.477V7.47l0.001-0.012
l0.011-0.097c0.005-0.064,0.011-0.13,0.017-0.194c-0.001-0.141-0.001-0.287-0.031-0.431c-0.022-0.142-0.063-0.266-0.086-0.366
c-0.015-0.055-0.019-0.097-0.029-0.145c-0.009-0.048-0.006-0.086-0.011-0.131c-0.011-0.035,0.002-0.112,0.007-0.172l0.008-0.096
l0.002-0.022l0.003-0.012l0.006-0.032c0.034-0.23,0.098-0.395,0.233-0.608c0.071-0.116,0.147-0.245,0.207-0.395
c0.028-0.074,0.059-0.155,0.075-0.225l0.039-0.189l0.01-0.048l0.002-0.006l0.004-0.019l0.002-0.004V4.256l0.002-0.027l0.011-0.105
c0.004-0.071,0.019-0.139,0.012-0.214c-0.005-0.071-0.002-0.144-0.012-0.215c-0.011-0.067-0.021-0.142-0.036-0.203
c-0.03-0.131-0.064-0.241-0.083-0.344c-0.023-0.104-0.021-0.196-0.029-0.292c0.004-0.056,0.011-0.111,0.015-0.166l0.007-0.081
l0.002-0.016c0.001-0.003,0.003-0.009,0.003-0.011l0.007-0.036c0.021-0.097,0.033-0.192,0.066-0.272
c0.049-0.173,0.142-0.309,0.226-0.45c0.088-0.137,0.152-0.277,0.189-0.396c0.047-0.121,0.051-0.202,0.067-0.266
c0.011-0.059,0.019-0.092,0.019-0.092c0.009-0.044-0.016-0.089-0.061-0.103c-0.045-0.016-0.097,0.012-0.111,0.058
c0,0-0.01,0.031-0.029,0.089c-0.02,0.056-0.037,0.155-0.086,0.243c-0.04,0.094-0.104,0.202-0.199,0.326
c-0.09,0.122-0.219,0.277-0.302,0.477c-0.051,0.098-0.074,0.203-0.108,0.312l-0.013,0.041c-0.003,0.011-0.003,0.004-0.009,0.031
l-0.003,0.019l-0.016,0.08c-0.012,0.054-0.021,0.108-0.032,0.164c-0.008,0.13-0.02,0.268-0.002,0.396
c0.009,0.133,0.035,0.256,0.049,0.366c0.013,0.11,0.016,0.215,0.004,0.322c0,0.052-0.018,0.109-0.026,0.165L24.642,4.14l-0.002,0.02
l-0.002,0.004l-0.001,0.004l-0.014,0.045l-0.059,0.186c-0.021,0.054-0.046,0.091-0.064,0.137c-0.047,0.09-0.113,0.181-0.188,0.279
c-0.042,0.057-0.085,0.108-0.127,0.174c-0.039,0.065-0.087,0.129-0.116,0.2c-0.03,0.07-0.067,0.143-0.093,0.214l-0.064,0.214
l-0.018,0.053l-0.014,0.067l-0.017,0.094c-0.013,0.068-0.028,0.114-0.031,0.207c-0.004,0.081-0.013,0.168-0.008,0.245
c0.007,0.073,0.01,0.155,0.021,0.222c0.046,0.283,0.061,0.426,0.038,0.6c-0.008,0.047-0.019,0.09-0.027,0.135L23.844,7.3
l-0.002,0.012l-0.013,0.037c-0.031,0.097-0.063,0.219-0.091,0.252c-0.047,0.104-0.135,0.213-0.238,0.352
c-0.027,0.037-0.052,0.069-0.077,0.107c-0.024,0.04-0.049,0.079-0.072,0.117c-0.048,0.074-0.078,0.151-0.11,0.219
c-0.066,0.139-0.084,0.24-0.109,0.313C23.11,8.781,23.099,8.82,23.099,8.82c-0.002,0.006-0.003,0.011-0.005,0.018
c0.336,0.048,0.667,0.11,0.994,0.185V9.017z M17.239,2.604c-0.009-0.114-0.026-0.221-0.017-0.329
c-0.002-0.218,0.058-0.408,0.094-0.557c0.042-0.149,0.059-0.275,0.06-0.378c0.011-0.1-0.011-0.197-0.012-0.256
c-0.006-0.062-0.008-0.093-0.008-0.093c-0.006-0.051,0.03-0.094,0.081-0.098c0.046-0.005,0.086,0.028,0.096,0.073
c0,0,0.005,0.032,0.017,0.092c0.008,0.063,0.037,0.141,0.039,0.271c0.013,0.125,0.005,0.28-0.021,0.439
c-0.023,0.163-0.059,0.324-0.038,0.502c0,0.086,0.026,0.181,0.043,0.277l0.007,0.036c0,0,0.002,0.006,0.002,0.009l0.006,0.018
l0.022,0.076c0.018,0.054,0.033,0.106,0.051,0.161c0.043,0.085,0.076,0.17,0.14,0.258c0.056,0.087,0.129,0.176,0.207,0.284
c0.04,0.053,0.075,0.116,0.113,0.175c0.035,0.063,0.062,0.128,0.092,0.193c0.035,0.066,0.047,0.135,0.07,0.202l0.03,0.101
l0.009,0.028l0.004,0.012v0.004l0.003,0.018l0.003,0.005l0.007,0.048l0.038,0.191c0.01,0.07,0.013,0.156,0.016,0.237
c0.003,0.159-0.019,0.307-0.04,0.442c-0.045,0.249-0.039,0.425,0.018,0.651l0.005,0.033l0.003,0.01l0.009,0.022l0.028,0.092
c0.019,0.058,0.037,0.134,0.058,0.161c0.023,0.039,0.035,0.076,0.061,0.114c0.029,0.043,0.049,0.081,0.082,0.125
c0.062,0.084,0.144,0.182,0.221,0.307c0.082,0.119,0.14,0.255,0.193,0.384c0.021,0.063,0.04,0.125,0.059,0.188l0.028,0.092
l0.004,0.012l0.001,0.005l0.001,0.003c-0.005-0.021,0.006,0.033,0.005,0.027l0.004,0.021l0.008,0.038
c0.019,0.109,0.044,0.186,0.049,0.341c0.022,0.279-0.032,0.498-0.048,0.641c-0.007,0.034-0.012,0.07-0.015,0.1
c-0.001,0.026-0.003,0.052-0.003,0.075c-0.008,0.049,0.003,0.095,0.006,0.134c0,0.075,0.026,0.151,0.032,0.195
c0.009,0.047,0.014,0.07,0.014,0.07l0.002,0.007c-0.335,0.057-0.665,0.125-0.99,0.207c0-0.005-0.002-0.011-0.002-0.015
c0,0-0.004-0.041-0.013-0.115c-0.004-0.077-0.026-0.178-0.019-0.331c0.004-0.074,0.001-0.157,0.019-0.245
c0.008-0.043,0.015-0.089,0.021-0.137c0.009-0.044,0.021-0.084,0.03-0.128c0.044-0.169,0.084-0.303,0.085-0.416
c0.015-0.042-0.004-0.167-0.012-0.268l-0.004-0.038l-0.002-0.014l-0.012-0.063C18.27,7.287,18.261,7.244,18.254,7.2
c-0.047-0.172-0.115-0.299-0.268-0.541c-0.034-0.058-0.068-0.132-0.104-0.198c-0.033-0.068-0.058-0.153-0.086-0.229
c-0.033-0.087-0.034-0.136-0.052-0.202l-0.018-0.093l-0.015-0.069l-0.006-0.056l-0.021-0.22c-0.004-0.076,0.003-0.157,0.005-0.232
c0-0.077,0.021-0.154,0.029-0.231c0.014-0.075,0.033-0.138,0.051-0.208c0.033-0.12,0.06-0.23,0.067-0.331
c0-0.05,0.01-0.093,0.008-0.151l-0.017-0.192l-0.006-0.049V4.195l-0.001-0.006l-0.004-0.02l-0.017-0.084
c-0.013-0.055-0.019-0.115-0.039-0.162c-0.029-0.104-0.072-0.198-0.126-0.296c-0.056-0.097-0.126-0.201-0.188-0.319
c-0.063-0.112-0.106-0.246-0.148-0.368c-0.01-0.055-0.021-0.108-0.033-0.162l-0.015-0.08l-0.006-0.021
c-0.005-0.026-0.002-0.02-0.004-0.031L17.239,2.604z M18.294,7.409c0.001,0.007,0.001,0.01,0,0.002V7.409z M41.591,25.433
c0,0-0.031-0.011-0.089-0.027c-0.055-0.021-0.153-0.04-0.241-0.088c-0.096-0.041-0.204-0.104-0.328-0.199
c-0.122-0.092-0.275-0.221-0.477-0.301c-0.098-0.052-0.203-0.076-0.312-0.11l-0.04-0.014c-0.012-0.002-0.004-0.002-0.03-0.007
l-0.021-0.004l-0.08-0.016c-0.055-0.011-0.107-0.021-0.162-0.032c-0.13-0.009-0.27-0.02-0.398-0.004
c-0.133,0.011-0.255,0.037-0.365,0.052c-0.11,0.011-0.214,0.014-0.322,0.003c-0.052,0.001-0.11-0.018-0.165-0.026l-0.083-0.018
l-0.021-0.002l-0.003-0.002l-0.004-0.001l-0.046-0.015l-0.184-0.058c-0.056-0.021-0.092-0.045-0.138-0.064
c-0.088-0.047-0.181-0.112-0.279-0.188c-0.06-0.041-0.109-0.085-0.172-0.125c-0.068-0.038-0.132-0.088-0.203-0.118
c-0.07-0.029-0.143-0.066-0.213-0.092l-0.212-0.064l-0.054-0.015l-0.067-0.015l-0.096-0.019c-0.067-0.011-0.114-0.026-0.205-0.029
c-0.081-0.004-0.169-0.014-0.247-0.01c-0.073,0.007-0.155,0.011-0.221,0.021c-0.284,0.047-0.426,0.062-0.601,0.038
c-0.045-0.009-0.089-0.019-0.132-0.027l-0.065-0.012l-0.01-0.004l-0.039-0.013c-0.095-0.031-0.218-0.062-0.251-0.093
c-0.104-0.044-0.211-0.133-0.353-0.236c-0.037-0.026-0.066-0.052-0.106-0.078c-0.04-0.023-0.08-0.048-0.117-0.071
c-0.075-0.051-0.152-0.077-0.22-0.109c-0.139-0.067-0.24-0.085-0.313-0.11c-0.071-0.022-0.111-0.033-0.111-0.033
c-0.007-0.001-0.012-0.002-0.019-0.005c-0.048,0.337-0.11,0.668-0.183,0.995l0.006,0.002c0,0,0.024,0.004,0.07,0.012
c0.043,0.014,0.124,0.016,0.194,0.047c0.037,0.013,0.081,0.021,0.125,0.046c0.021,0.01,0.044,0.02,0.068,0.031
c0.025,0.013,0.056,0.033,0.087,0.05c0.124,0.07,0.305,0.204,0.573,0.291c0.145,0.054,0.226,0.059,0.333,0.085l0.038,0.007
l0.021,0.004c-0.004-0.002,0.049,0.012,0.027,0.006l0.003,0.002h0.006l0.013,0.001l0.095,0.011c0.064,0.005,0.131,0.011,0.197,0.019
c0.14-0.004,0.284-0.004,0.428-0.033c0.144-0.023,0.268-0.063,0.366-0.086c0.055-0.015,0.098-0.019,0.147-0.029
c0.046-0.009,0.085-0.006,0.128-0.011c0.033-0.01,0.113,0.004,0.173,0.008l0.095,0.007l0.024,0.004l0.01,0.001l0.032,0.006
c0.23,0.034,0.396,0.098,0.609,0.232c0.116,0.072,0.245,0.148,0.394,0.208c0.076,0.027,0.156,0.059,0.226,0.077l0.191,0.038
l0.045,0.01l0.008,0.001l0.018,0.004l0.003,0.001l0.013,0.002l0.026,0.003l0.106,0.01c0.072,0.004,0.139,0.018,0.213,0.011
c0.072-0.004,0.146-0.001,0.216-0.011c0.067-0.012,0.141-0.021,0.204-0.035c0.129-0.031,0.241-0.066,0.343-0.084
c0.104-0.025,0.196-0.023,0.291-0.03c0.057,0.005,0.111,0.011,0.166,0.015l0.081,0.007l0.017,0.002c0.003,0,0.011,0.003,0.011,0.003
l0.037,0.008c0.093,0.021,0.189,0.032,0.271,0.066c0.171,0.049,0.308,0.141,0.449,0.226c0.137,0.086,0.277,0.151,0.396,0.189
c0.121,0.046,0.205,0.049,0.265,0.065c0.06,0.014,0.092,0.021,0.092,0.021c0.045,0.008,0.091-0.018,0.104-0.062
C41.664,25.497,41.639,25.446,41.591,25.433z M32.69,38.482c-0.024-0.053-0.081-0.135-0.108-0.232
c-0.038-0.096-0.071-0.216-0.091-0.371c-0.022-0.15-0.04-0.351-0.123-0.551c-0.033-0.104-0.091-0.195-0.144-0.298l-0.021-0.037
c-0.005-0.012,0-0.005-0.016-0.027l-0.01-0.018l-0.046-0.066c-0.032-0.045-0.062-0.091-0.093-0.138
c-0.085-0.099-0.176-0.205-0.279-0.284c-0.1-0.086-0.205-0.155-0.293-0.222c-0.088-0.069-0.163-0.141-0.231-0.226
c-0.037-0.036-0.064-0.089-0.098-0.136l-0.047-0.07l-0.012-0.017l-0.002-0.003l-0.001-0.004l-0.023-0.043l-0.09-0.171
c-0.023-0.055-0.032-0.096-0.051-0.144c-0.029-0.094-0.047-0.207-0.064-0.33c-0.01-0.07-0.017-0.137-0.033-0.211
c-0.021-0.075-0.031-0.154-0.061-0.225c-0.026-0.073-0.053-0.148-0.085-0.217l-0.104-0.197l-0.025-0.048l-0.039-0.06l-0.054-0.077
c-0.04-0.056-0.062-0.101-0.125-0.169c-0.055-0.06-0.11-0.127-0.167-0.178c-0.058-0.048-0.117-0.104-0.172-0.144
c-0.233-0.165-0.345-0.257-0.452-0.396c-0.024-0.038-0.051-0.077-0.074-0.114l-0.035-0.053l-0.006-0.011l-0.019-0.034
c-0.046-0.092-0.11-0.199-0.113-0.245c-0.042-0.104-0.055-0.242-0.081-0.415c-0.007-0.045-0.013-0.085-0.021-0.131
c-0.012-0.046-0.021-0.091-0.031-0.133c-0.019-0.088-0.052-0.165-0.077-0.233c-0.051-0.146-0.11-0.23-0.145-0.299
c-0.036-0.066-0.055-0.103-0.055-0.103c-0.003-0.005-0.005-0.011-0.008-0.016c-0.271,0.203-0.55,0.392-0.835,0.572l0.003,0.006
c0,0,0.015,0.021,0.041,0.06c0.022,0.039,0.077,0.099,0.104,0.17c0.018,0.035,0.044,0.072,0.059,0.12
c0.008,0.022,0.017,0.046,0.025,0.071c0.009,0.026,0.016,0.063,0.026,0.096c0.037,0.138,0.071,0.362,0.199,0.612
c0.064,0.141,0.117,0.2,0.175,0.294l0.021,0.033l0.012,0.018c-0.003-0.004,0.027,0.042,0.016,0.022l0.002,0.004l0.004,0.004
l0.008,0.01l0.06,0.075c0.041,0.048,0.084,0.1,0.126,0.151c0.102,0.097,0.203,0.199,0.327,0.279c0.116,0.085,0.23,0.145,0.32,0.198
c0.048,0.028,0.08,0.055,0.121,0.084c0.041,0.025,0.065,0.056,0.101,0.082c0.032,0.018,0.077,0.083,0.116,0.128l0.061,0.072
l0.017,0.02l0.008,0.008l0.017,0.027c0.139,0.188,0.211,0.35,0.267,0.597c0.031,0.132,0.068,0.275,0.132,0.423
c0.033,0.073,0.069,0.152,0.106,0.215l0.105,0.161l0.025,0.04l0.003,0.005l0.011,0.015l0.003,0.004l0.009,0.011l0.018,0.02
l0.067,0.084c0.045,0.053,0.085,0.111,0.142,0.158c0.054,0.049,0.103,0.101,0.16,0.145c0.057,0.039,0.114,0.085,0.171,0.118
c0.111,0.07,0.215,0.123,0.3,0.185c0.091,0.057,0.155,0.122,0.229,0.183c0.036,0.044,0.07,0.087,0.104,0.129l0.054,0.063l0.01,0.014
c0.002,0.001,0.006,0.009,0.006,0.01l0.021,0.029c0.052,0.081,0.112,0.159,0.146,0.24c0.085,0.155,0.115,0.316,0.156,0.478
c0.038,0.158,0.091,0.303,0.147,0.413c0.052,0.12,0.108,0.181,0.14,0.235c0.034,0.052,0.052,0.079,0.052,0.079
c0.025,0.039,0.076,0.051,0.117,0.031c0.042-0.023,0.06-0.077,0.037-0.121C32.734,38.566,32.72,38.538,32.69,38.482z M38.47,32.88
c0.037,0.032,0.042,0.088,0.012,0.125c-0.03,0.036-0.082,0.042-0.119,0.018c0,0-0.028-0.019-0.079-0.054
c-0.05-0.039-0.126-0.072-0.219-0.161c-0.097-0.083-0.2-0.195-0.295-0.328c-0.098-0.133-0.188-0.271-0.327-0.381
c-0.063-0.063-0.148-0.11-0.226-0.166l-0.03-0.021c-0.002,0-0.009-0.004-0.012-0.005l-0.015-0.009l-0.071-0.038
c-0.048-0.023-0.097-0.052-0.147-0.077c-0.092-0.03-0.175-0.066-0.279-0.083c-0.103-0.022-0.217-0.033-0.35-0.055
c-0.064-0.008-0.135-0.029-0.202-0.044c-0.068-0.018-0.137-0.048-0.204-0.072c-0.07-0.023-0.129-0.061-0.191-0.092l-0.095-0.051
l-0.024-0.012l-0.012-0.008l-0.003-0.002l-0.015-0.01l-0.005-0.003l-0.04-0.027l-0.159-0.109c-0.059-0.043-0.121-0.104-0.181-0.157
c-0.113-0.111-0.204-0.23-0.282-0.341c-0.146-0.208-0.276-0.329-0.475-0.448l-0.029-0.021l-0.008-0.004l-0.022-0.011l-0.083-0.044
c-0.055-0.027-0.12-0.068-0.155-0.074c-0.044-0.011-0.077-0.027-0.124-0.038c-0.051-0.008-0.092-0.021-0.146-0.028
c-0.104-0.016-0.231-0.027-0.372-0.061c-0.144-0.028-0.278-0.084-0.41-0.136c-0.059-0.029-0.115-0.06-0.174-0.092l-0.084-0.045
l-0.012-0.007l-0.004-0.002l-0.004-0.002c0.018,0.014-0.026-0.019-0.022-0.016l-0.018-0.012l-0.031-0.021
c-0.091-0.064-0.164-0.101-0.275-0.207c-0.215-0.181-0.33-0.373-0.418-0.487c-0.022-0.026-0.042-0.057-0.063-0.078
c-0.017-0.021-0.034-0.04-0.052-0.057c-0.03-0.039-0.068-0.063-0.098-0.091c-0.054-0.055-0.126-0.089-0.161-0.115
C31.621,28.595,31.6,28.58,31.6,28.58l-0.007-0.003c0.196-0.276,0.381-0.558,0.552-0.848c0.006,0.005,0.013,0.008,0.017,0.012
c0,0,0.031,0.024,0.09,0.073c0.058,0.052,0.144,0.104,0.247,0.22c0.049,0.055,0.111,0.111,0.159,0.188
c0.027,0.035,0.055,0.071,0.082,0.11c0.025,0.038,0.045,0.074,0.068,0.113c0.092,0.147,0.156,0.271,0.234,0.354
c0.02,0.04,0.121,0.114,0.198,0.181l0.03,0.025l0.011,0.009l0.052,0.035c0.037,0.026,0.074,0.05,0.112,0.076
c0.151,0.088,0.29,0.129,0.569,0.194c0.065,0.016,0.143,0.042,0.213,0.065c0.073,0.024,0.149,0.065,0.223,0.101
c0.085,0.038,0.122,0.071,0.18,0.106l0.079,0.053l0.06,0.039l0.043,0.036l0.171,0.141c0.056,0.051,0.109,0.112,0.162,0.168
c0.055,0.054,0.093,0.122,0.141,0.184c0.045,0.064,0.074,0.122,0.112,0.184c0.062,0.107,0.122,0.203,0.186,0.281
c0.035,0.036,0.061,0.071,0.102,0.111l0.15,0.125l0.037,0.03l0.001,0.003l0.003,0.001l0.019,0.013l0.07,0.046
c0.048,0.029,0.093,0.068,0.142,0.088c0.096,0.052,0.191,0.09,0.299,0.119c0.109,0.031,0.232,0.054,0.358,0.095
c0.124,0.034,0.25,0.097,0.365,0.155c0.046,0.03,0.093,0.063,0.14,0.092l0.067,0.044l0.018,0.012
c0.022,0.016,0.016,0.012,0.023,0.019l0.033,0.027c0.087,0.074,0.176,0.137,0.246,0.221c0.153,0.152,0.246,0.33,0.326,0.46
c0.075,0.137,0.152,0.235,0.226,0.31c0.062,0.08,0.146,0.133,0.188,0.174C38.444,32.86,38.47,32.88,38.47,32.88z M33.267,29.005
C33.263,29.001,33.26,28.998,33.267,29.005L33.267,29.005z M25.372,39.969c-0.002-0.012,0.002-0.005-0.004-0.031l-0.003-0.021
l-0.018-0.079c-0.011-0.053-0.021-0.107-0.033-0.162c-0.04-0.123-0.083-0.256-0.147-0.369c-0.061-0.116-0.131-0.222-0.187-0.318
c-0.055-0.097-0.097-0.192-0.127-0.296c-0.021-0.048-0.027-0.108-0.039-0.163l-0.018-0.082l-0.004-0.021v-0.003l-0.001-0.003
l-0.004-0.049l-0.018-0.192c-0.001-0.059,0.007-0.101,0.008-0.151c0.01-0.1,0.033-0.211,0.066-0.33
c0.018-0.07,0.037-0.133,0.051-0.21c0.01-0.076,0.03-0.151,0.031-0.229c0.002-0.076,0.007-0.158,0.003-0.232l-0.02-0.222
l-0.006-0.056l-0.015-0.067l-0.019-0.094c-0.018-0.066-0.019-0.116-0.052-0.202c-0.027-0.076-0.053-0.161-0.086-0.229
c-0.035-0.068-0.069-0.141-0.104-0.198c-0.152-0.243-0.221-0.37-0.266-0.54c-0.009-0.045-0.018-0.09-0.026-0.133l-0.012-0.064
l-0.001-0.011l-0.005-0.041c-0.007-0.099-0.025-0.225-0.012-0.266c0.004-0.115,0.044-0.247,0.085-0.417
c0.011-0.044,0.021-0.084,0.03-0.128c0.009-0.047,0.015-0.094,0.021-0.138c0.018-0.086,0.015-0.17,0.019-0.244
c0.009-0.152-0.014-0.253-0.019-0.33c-0.007-0.075-0.011-0.116-0.011-0.116c-0.002-0.005-0.002-0.009-0.004-0.016
c-0.324,0.082-0.654,0.15-0.989,0.207l0.002,0.008c0,0,0.005,0.024,0.015,0.07c0.005,0.044,0.032,0.119,0.032,0.196
c0.001,0.039,0.012,0.084,0.006,0.133c-0.001,0.024-0.003,0.051-0.005,0.076c-0.001,0.029-0.008,0.064-0.012,0.1
c-0.018,0.142-0.071,0.361-0.048,0.64c0.004,0.155,0.03,0.23,0.048,0.341l0.008,0.039l0.003,0.019c0-0.005,0.009,0.05,0.006,0.028
v0.003l0.002,0.006l0.004,0.012l0.027,0.092c0.019,0.062,0.037,0.126,0.058,0.188c0.056,0.13,0.111,0.263,0.193,0.383
c0.076,0.124,0.159,0.224,0.222,0.307c0.034,0.044,0.053,0.081,0.081,0.124c0.026,0.04,0.038,0.077,0.061,0.114
c0.021,0.029,0.039,0.104,0.058,0.163l0.029,0.092l0.008,0.022l0.004,0.009l0.005,0.033c0.057,0.228,0.062,0.402,0.019,0.65
c-0.022,0.137-0.042,0.283-0.041,0.443c0.004,0.081,0.006,0.167,0.017,0.237l0.037,0.191l0.008,0.048l0.001,0.006l0.003,0.017
l0.002,0.003l0.003,0.014l0.009,0.026l0.03,0.102c0.022,0.068,0.037,0.135,0.07,0.201c0.031,0.065,0.056,0.135,0.093,0.193
s0.073,0.123,0.112,0.177c0.077,0.107,0.152,0.196,0.206,0.284c0.064,0.089,0.098,0.172,0.141,0.257
c0.018,0.055,0.033,0.106,0.05,0.16l0.024,0.078l0.005,0.016c0,0.003,0.001,0.01,0.001,0.011l0.008,0.034
c0.016,0.097,0.043,0.191,0.043,0.277c0.02,0.178-0.015,0.34-0.038,0.503c-0.027,0.159-0.033,0.314-0.021,0.438
c0.002,0.131,0.03,0.208,0.039,0.271c0.011,0.059,0.018,0.092,0.018,0.092c0.008,0.044,0.05,0.078,0.096,0.072
c0.049-0.004,0.085-0.047,0.081-0.096c0,0-0.003-0.033-0.01-0.095c-0.001-0.059-0.022-0.156-0.011-0.256
c0.002-0.103,0.018-0.228,0.059-0.378c0.037-0.148,0.097-0.339,0.096-0.556c0.009-0.108-0.008-0.216-0.018-0.33L25.372,39.969z
 M40.341,17.222c0.217-0.002,0.409,0.059,0.557,0.095c0.15,0.041,0.274,0.058,0.378,0.059c0.101,0.013,0.198-0.008,0.255-0.011
c0.063-0.007,0.094-0.008,0.094-0.008c0.051-0.004,0.094,0.031,0.098,0.081c0.005,0.045-0.028,0.086-0.072,0.094
c0,0-0.033,0.007-0.093,0.018c-0.063,0.008-0.141,0.037-0.271,0.041c-0.125,0.01-0.277,0.004-0.439-0.023
c-0.162-0.024-0.324-0.058-0.502-0.037c-0.086,0-0.181,0.026-0.276,0.043l-0.035,0.007l-0.011,0.002l-0.018,0.005l-0.078,0.025
c-0.051,0.016-0.104,0.033-0.158,0.049c-0.084,0.043-0.17,0.077-0.258,0.14c-0.086,0.056-0.175,0.13-0.284,0.208
c-0.052,0.039-0.116,0.074-0.176,0.111c-0.062,0.036-0.128,0.062-0.193,0.092c-0.066,0.035-0.134,0.049-0.201,0.07l-0.102,0.032
l-0.025,0.008l-0.015,0.004l-0.003,0.001l-0.019,0.003h-0.005l-0.047,0.011l-0.191,0.036c-0.07,0.009-0.159,0.013-0.236,0.017
c-0.161,0.002-0.309-0.02-0.444-0.042c-0.248-0.043-0.426-0.039-0.65,0.018l-0.034,0.008l-0.009,0.002l-0.023,0.007l-0.092,0.028
c-0.056,0.02-0.132,0.037-0.16,0.059c-0.04,0.023-0.075,0.034-0.117,0.061c-0.041,0.029-0.078,0.049-0.122,0.081
c-0.083,0.063-0.184,0.145-0.307,0.222c-0.122,0.084-0.253,0.138-0.383,0.193c-0.064,0.019-0.126,0.04-0.188,0.059l-0.093,0.026
l-0.014,0.005l-0.005,0.001H35.37c0.021-0.003-0.031,0.007-0.027,0.007l-0.021,0.002l-0.038,0.009
c-0.109,0.017-0.186,0.045-0.339,0.049c-0.28,0.023-0.5-0.032-0.643-0.049c-0.033-0.005-0.068-0.011-0.098-0.013
c-0.026-0.001-0.054-0.003-0.076-0.005c-0.05-0.006-0.095,0.005-0.134,0.007c-0.075,0-0.152,0.026-0.196,0.034
c-0.047,0.007-0.07,0.012-0.07,0.012l-0.008,0.003c-0.056-0.336-0.124-0.666-0.206-0.99c0.005,0,0.011-0.002,0.016-0.003
c0,0,0.04-0.005,0.116-0.012c0.075-0.004,0.176-0.027,0.33-0.019c0.073,0.004,0.156,0.001,0.244,0.019
c0.045,0.007,0.089,0.015,0.137,0.021c0.044,0.009,0.085,0.02,0.129,0.03c0.168,0.043,0.303,0.084,0.415,0.085
c0.043,0.015,0.167-0.004,0.268-0.012l0.039-0.003l0.011-0.001l0.065-0.014c0.043-0.008,0.088-0.016,0.134-0.025
c0.169-0.046,0.297-0.114,0.54-0.264c0.056-0.037,0.13-0.07,0.196-0.106c0.068-0.032,0.153-0.059,0.23-0.085
c0.086-0.033,0.135-0.037,0.201-0.051l0.095-0.02l0.067-0.014l0.056-0.006l0.222-0.021c0.074-0.003,0.155,0.003,0.232,0.004
c0.078,0.003,0.154,0.021,0.23,0.03c0.076,0.015,0.14,0.033,0.207,0.051c0.121,0.031,0.232,0.057,0.329,0.067
c0.052,0,0.096,0.007,0.154,0.007l0.191-0.018l0.049-0.004h0.003l0.004-0.001l0.021-0.004l0.083-0.018
c0.055-0.012,0.115-0.018,0.163-0.037c0.104-0.032,0.199-0.071,0.296-0.127s0.2-0.128,0.318-0.188
c0.113-0.063,0.246-0.107,0.368-0.148c0.056-0.01,0.11-0.021,0.163-0.033l0.08-0.016l0.02-0.005c0.027-0.005,0.019-0.002,0.03-0.004
l0.043-0.004C40.126,17.229,40.232,17.212,40.341,17.222z M35.207,18.293C35.2,18.295,35.196,18.295,35.207,18.293L35.207,18.293z
 M13.492,33.446c-0.089,0.152-0.131,0.29-0.193,0.568c-0.016,0.066-0.044,0.143-0.066,0.213c-0.025,0.073-0.066,0.151-0.103,0.225
c-0.037,0.083-0.07,0.12-0.105,0.178l-0.054,0.081l-0.037,0.057l-0.036,0.044l-0.143,0.172c-0.05,0.055-0.11,0.108-0.166,0.161
c-0.055,0.055-0.124,0.095-0.186,0.141c-0.062,0.045-0.121,0.074-0.183,0.111c-0.107,0.064-0.204,0.125-0.28,0.188
c-0.037,0.036-0.071,0.061-0.113,0.103l-0.124,0.147l-0.03,0.038l-0.003,0.002l-0.001,0.003l-0.011,0.018l-0.048,0.071
c-0.03,0.047-0.069,0.092-0.088,0.141c-0.052,0.098-0.09,0.193-0.119,0.299c-0.03,0.11-0.053,0.233-0.093,0.358
c-0.034,0.125-0.1,0.25-0.157,0.366c-0.03,0.046-0.062,0.092-0.091,0.139l-0.045,0.067l-0.011,0.018
c-0.017,0.022-0.011,0.016-0.021,0.025l-0.025,0.032c-0.075,0.087-0.138,0.174-0.221,0.245c-0.153,0.153-0.331,0.246-0.462,0.326
c-0.135,0.077-0.234,0.152-0.309,0.226c-0.079,0.062-0.133,0.146-0.173,0.188c-0.04,0.048-0.061,0.073-0.061,0.073
c-0.03,0.037-0.089,0.042-0.126,0.011c-0.034-0.028-0.04-0.081-0.016-0.12c0,0,0.019-0.025,0.053-0.077
c0.039-0.05,0.073-0.124,0.164-0.219c0.079-0.096,0.192-0.2,0.326-0.293c0.132-0.1,0.271-0.19,0.381-0.328
c0.062-0.063,0.109-0.148,0.165-0.227l0.021-0.031c0-0.001,0.004-0.007,0.006-0.01l0.008-0.014l0.037-0.073
c0.026-0.048,0.052-0.097,0.077-0.147c0.03-0.09,0.066-0.175,0.085-0.279c0.022-0.103,0.031-0.217,0.054-0.35
c0.01-0.064,0.029-0.135,0.046-0.203s0.046-0.134,0.071-0.202c0.021-0.07,0.06-0.128,0.092-0.192l0.05-0.094l0.014-0.024
l0.005-0.012l0.002-0.002l0.012-0.015l0.003-0.006l0.027-0.04l0.107-0.161c0.044-0.056,0.104-0.12,0.157-0.18
c0.112-0.113,0.232-0.203,0.344-0.282c0.206-0.146,0.326-0.275,0.447-0.475l0.019-0.027l0.005-0.008l0.011-0.022l0.045-0.085
c0.025-0.055,0.067-0.12,0.073-0.157c0.012-0.042,0.029-0.075,0.039-0.123c0.009-0.051,0.021-0.091,0.028-0.145
c0.018-0.103,0.027-0.231,0.061-0.372c0.027-0.145,0.082-0.278,0.134-0.408c0.031-0.061,0.061-0.117,0.092-0.174l0.048-0.087
l0.005-0.009l0.003-0.005l0.001-0.005c-0.012,0.019,0.02-0.025,0.016-0.022l0.013-0.016l0.021-0.033
c0.065-0.091,0.1-0.162,0.206-0.274c0.183-0.214,0.376-0.332,0.488-0.42c0.028-0.021,0.056-0.041,0.08-0.06
c0.02-0.019,0.038-0.035,0.056-0.052c0.038-0.03,0.063-0.068,0.09-0.099c0.054-0.055,0.088-0.126,0.115-0.162
c0.025-0.038,0.04-0.06,0.04-0.06l0.004-0.007c0.275,0.195,0.557,0.38,0.849,0.553c-0.004,0.004-0.01,0.009-0.014,0.015
c0,0-0.023,0.033-0.07,0.09c-0.052,0.058-0.105,0.145-0.223,0.247c-0.055,0.051-0.11,0.11-0.185,0.159
c-0.036,0.026-0.074,0.053-0.112,0.082c-0.038,0.025-0.073,0.044-0.112,0.069c-0.149,0.09-0.271,0.155-0.353,0.233
c-0.041,0.021-0.117,0.121-0.182,0.198l-0.025,0.029l-0.01,0.01l-0.034,0.054C13.544,33.37,13.518,33.407,13.492,33.446z
 M13.612,33.267C13.616,33.263,13.617,33.26,13.612,33.267L13.612,33.267z M18.528,33.6c0,0-0.004,0.025-0.015,0.07
c-0.012,0.045-0.015,0.124-0.045,0.194c-0.015,0.038-0.021,0.082-0.046,0.127c-0.01,0.021-0.021,0.044-0.031,0.069
c-0.015,0.023-0.034,0.056-0.051,0.083c-0.07,0.126-0.204,0.309-0.29,0.575c-0.055,0.146-0.061,0.225-0.085,0.333l-0.009,0.038
l-0.004,0.021c0.002-0.004-0.012,0.049-0.006,0.026l-0.002,0.004v0.005l-0.001,0.014l-0.008,0.096
c-0.008,0.064-0.014,0.13-0.019,0.195c0.001,0.142,0.002,0.286,0.03,0.43c0.025,0.143,0.063,0.266,0.088,0.366
c0.013,0.054,0.019,0.097,0.027,0.145c0.01,0.048,0.006,0.087,0.012,0.132c0.01,0.033-0.002,0.11-0.007,0.17l-0.009,0.096
l-0.001,0.024l-0.002,0.01l-0.008,0.033c-0.034,0.229-0.097,0.396-0.23,0.609c-0.073,0.116-0.15,0.244-0.209,0.393
c-0.026,0.076-0.058,0.158-0.075,0.227l-0.041,0.188l-0.008,0.05l-0.002,0.005l-0.004,0.018v0.004l-0.002,0.013l-0.002,0.028
l-0.011,0.104c-0.005,0.07-0.019,0.14-0.013,0.213c0.004,0.073,0.001,0.146,0.013,0.216c0.011,0.069,0.021,0.143,0.036,0.203
c0.029,0.132,0.063,0.242,0.084,0.344c0.023,0.105,0.022,0.196,0.029,0.292c-0.006,0.055-0.01,0.11-0.017,0.165l-0.007,0.081
l-0.001,0.017c-0.001,0.003-0.001,0.01-0.001,0.01l-0.008,0.036c-0.021,0.095-0.033,0.192-0.068,0.272
c-0.048,0.173-0.142,0.309-0.225,0.45c-0.087,0.138-0.152,0.277-0.189,0.396c-0.048,0.121-0.052,0.204-0.067,0.266
c-0.012,0.061-0.019,0.092-0.019,0.092c-0.01,0.044,0.016,0.089,0.06,0.104c0.048,0.015,0.099-0.012,0.112-0.059
c0,0,0.009-0.03,0.028-0.089c0.021-0.056,0.037-0.153,0.086-0.241c0.043-0.096,0.104-0.204,0.201-0.328
c0.089-0.122,0.219-0.275,0.3-0.475c0.052-0.099,0.075-0.203,0.11-0.313l0.013-0.042c0.003-0.011,0.002-0.003,0.007-0.031
l0.005-0.019l0.014-0.08c0.012-0.054,0.022-0.108,0.032-0.162c0.01-0.13,0.02-0.27,0.005-0.398
c-0.011-0.131-0.037-0.255-0.051-0.365c-0.013-0.111-0.016-0.214-0.005-0.322c0-0.053,0.018-0.11,0.027-0.165l0.017-0.083
l0.004-0.021v-0.003l0.001-0.002l0.015-0.047l0.058-0.186c0.022-0.055,0.046-0.091,0.066-0.137c0.046-0.088,0.112-0.181,0.188-0.28
c0.041-0.057,0.083-0.108,0.124-0.171c0.039-0.068,0.087-0.132,0.117-0.202c0.031-0.071,0.067-0.142,0.093-0.214l0.065-0.213
l0.016-0.054l0.015-0.066l0.017-0.096c0.012-0.067,0.028-0.112,0.031-0.205c0.004-0.081,0.014-0.169,0.008-0.246
c-0.007-0.073-0.011-0.155-0.021-0.222c-0.047-0.282-0.062-0.426-0.039-0.6c0.009-0.047,0.02-0.091,0.028-0.134l0.013-0.063
l0.003-0.012l0.012-0.038c0.03-0.097,0.063-0.219,0.092-0.251c0.044-0.104,0.134-0.213,0.236-0.353
c0.027-0.037,0.052-0.068,0.078-0.107c0.023-0.04,0.049-0.08,0.071-0.118c0.051-0.073,0.08-0.15,0.11-0.218
c0.067-0.14,0.085-0.24,0.111-0.313c0.021-0.071,0.032-0.11,0.032-0.11c0.001-0.006,0.003-0.013,0.004-0.021
c-0.335-0.046-0.668-0.109-0.993-0.182L18.528,33.6z M6.81,31.091l0.018-0.012h0.002l0.005-0.004l0.041-0.022l0.172-0.089
c0.055-0.022,0.097-0.033,0.144-0.051c0.096-0.03,0.207-0.049,0.329-0.064c0.072-0.011,0.139-0.019,0.213-0.035
c0.075-0.02,0.152-0.029,0.226-0.06c0.071-0.027,0.146-0.052,0.216-0.085l0.196-0.104l0.05-0.026l0.059-0.04l0.079-0.053
c0.055-0.04,0.099-0.062,0.166-0.124c0.06-0.056,0.129-0.111,0.178-0.168c0.048-0.058,0.104-0.117,0.144-0.17
c0.166-0.235,0.258-0.347,0.396-0.454c0.041-0.025,0.078-0.049,0.115-0.073l0.053-0.037l0.013-0.005l0.034-0.019
c0.089-0.047,0.198-0.11,0.243-0.113c0.104-0.042,0.244-0.056,0.415-0.081c0.046-0.007,0.085-0.012,0.13-0.021
c0.048-0.01,0.092-0.021,0.136-0.031c0.088-0.018,0.162-0.052,0.232-0.078c0.145-0.048,0.229-0.109,0.299-0.143
c0.066-0.037,0.101-0.056,0.101-0.056c0.005-0.003,0.012-0.005,0.018-0.008c-0.202-0.271-0.392-0.55-0.572-0.835l-0.006,0.004
c0,0-0.02,0.014-0.061,0.04c-0.038,0.021-0.097,0.077-0.168,0.104c-0.035,0.018-0.073,0.044-0.122,0.058
c-0.021,0.008-0.046,0.016-0.07,0.026c-0.027,0.009-0.063,0.016-0.097,0.024c-0.139,0.038-0.36,0.072-0.61,0.201
c-0.142,0.063-0.203,0.116-0.296,0.174l-0.033,0.022l-0.016,0.011c0.003-0.003-0.044,0.026-0.024,0.016l-0.002,0.003l-0.006,0.003
l-0.009,0.008l-0.075,0.061c-0.049,0.04-0.101,0.084-0.15,0.125c-0.1,0.101-0.202,0.204-0.282,0.325
c-0.083,0.119-0.144,0.233-0.198,0.321c-0.027,0.049-0.055,0.081-0.081,0.124c-0.028,0.041-0.058,0.064-0.084,0.099
c-0.018,0.032-0.082,0.076-0.128,0.117l-0.073,0.062l-0.018,0.015l-0.008,0.009l-0.028,0.018c-0.188,0.138-0.349,0.209-0.595,0.265
c-0.133,0.032-0.278,0.069-0.426,0.131c-0.072,0.034-0.152,0.07-0.214,0.107l-0.16,0.105l-0.041,0.027L6.57,30.638l-0.016,0.01
l-0.003,0.002l-0.01,0.008l-0.021,0.018l-0.083,0.067c-0.054,0.048-0.11,0.086-0.158,0.142c-0.049,0.056-0.103,0.104-0.144,0.161
c-0.041,0.057-0.086,0.114-0.121,0.17c-0.068,0.114-0.123,0.216-0.183,0.301c-0.058,0.092-0.123,0.155-0.185,0.229
c-0.044,0.036-0.087,0.07-0.129,0.106l-0.062,0.052l-0.015,0.012c-0.001,0.001-0.006,0.005-0.006,0.005l-0.032,0.021
c-0.082,0.052-0.158,0.111-0.24,0.146c-0.156,0.087-0.317,0.117-0.477,0.157c-0.16,0.035-0.305,0.09-0.415,0.148
c-0.119,0.05-0.18,0.107-0.235,0.139c-0.052,0.033-0.078,0.052-0.078,0.052c-0.037,0.024-0.052,0.075-0.03,0.116
c0.022,0.044,0.075,0.061,0.121,0.038c0,0,0.028-0.016,0.082-0.045c0.053-0.024,0.136-0.082,0.232-0.109
c0.097-0.037,0.219-0.07,0.371-0.089c0.151-0.023,0.354-0.04,0.551-0.124c0.104-0.033,0.196-0.092,0.298-0.144l0.038-0.02
c0.011-0.006,0.005,0,0.027-0.017l0.018-0.011l0.067-0.046c0.045-0.03,0.091-0.063,0.137-0.093c0.098-0.085,0.204-0.176,0.284-0.277
c0.085-0.102,0.155-0.206,0.224-0.295c0.068-0.088,0.139-0.162,0.224-0.229c0.037-0.037,0.091-0.066,0.136-0.099L6.81,31.091z
 M2.274,25.395c-0.215,0.002-0.407-0.059-0.556-0.096c-0.149-0.041-0.274-0.056-0.378-0.059c-0.1-0.012-0.197,0.01-0.256,0.011
c-0.063,0.007-0.094,0.009-0.094,0.009c-0.05,0.005-0.094-0.031-0.098-0.08c-0.004-0.047,0.029-0.087,0.073-0.095
c0,0,0.032-0.007,0.092-0.018c0.063-0.009,0.142-0.037,0.271-0.041c0.125-0.011,0.279-0.004,0.439,0.024
c0.162,0.022,0.325,0.057,0.502,0.037c0.088,0,0.182-0.026,0.277-0.044l0.036-0.007c0,0,0.006-0.001,0.009-0.001L2.61,25.03
l0.078-0.024c0.052-0.018,0.104-0.033,0.158-0.05c0.086-0.044,0.171-0.077,0.259-0.139c0.086-0.056,0.176-0.131,0.284-0.209
c0.052-0.038,0.116-0.072,0.175-0.111c0.063-0.036,0.13-0.063,0.194-0.093c0.065-0.033,0.134-0.048,0.201-0.07l0.103-0.03
l0.025-0.008l0.013-0.005l0.003-0.001l0.019-0.003l0.006-0.001l0.046-0.009l0.191-0.038c0.07-0.008,0.157-0.011,0.237-0.016
c0.16-0.001,0.308,0.019,0.443,0.042c0.248,0.043,0.427,0.038,0.651-0.019l0.034-0.006l0.01-0.003l0.021-0.007l0.093-0.029
c0.056-0.019,0.133-0.037,0.16-0.059c0.04-0.021,0.076-0.033,0.116-0.06c0.042-0.029,0.078-0.048,0.123-0.082
c0.084-0.063,0.184-0.145,0.306-0.222c0.122-0.082,0.256-0.138,0.385-0.192c0.063-0.02,0.125-0.039,0.188-0.06l0.092-0.026
l0.012-0.003l0.005-0.002l0.003-0.001c-0.021,0.004,0.032-0.007,0.027-0.005l0.021-0.004l0.038-0.007
c0.11-0.019,0.186-0.045,0.341-0.049c0.28-0.025,0.498,0.03,0.642,0.049c0.034,0.004,0.07,0.009,0.099,0.012
c0.026,0.002,0.052,0.004,0.075,0.004c0.049,0.007,0.095-0.004,0.133-0.007c0.077,0,0.152-0.024,0.197-0.032
c0.046-0.009,0.07-0.013,0.07-0.013l0.006-0.004c0.059,0.337,0.125,0.668,0.208,0.99c-0.005,0.002-0.012,0.003-0.017,0.003
c0,0-0.039,0.005-0.114,0.013c-0.077,0.005-0.178,0.028-0.332,0.018c-0.073-0.003-0.156,0-0.244-0.018
c-0.043-0.007-0.089-0.014-0.136-0.021c-0.045-0.01-0.085-0.021-0.13-0.031c-0.167-0.042-0.302-0.083-0.415-0.086
c-0.042-0.013-0.166,0.004-0.268,0.012l-0.038,0.004l-0.014,0.002l-0.063,0.013c-0.042,0.007-0.089,0.017-0.133,0.024
c-0.17,0.046-0.296,0.115-0.539,0.267c-0.057,0.034-0.132,0.07-0.198,0.104c-0.067,0.033-0.151,0.06-0.229,0.087
c-0.085,0.031-0.136,0.035-0.201,0.05l-0.094,0.019l-0.069,0.015L5.813,24.91L5.59,24.93c-0.074,0.004-0.152-0.001-0.232-0.003
c-0.077-0.001-0.153-0.022-0.229-0.031c-0.074-0.014-0.138-0.033-0.208-0.049c-0.12-0.033-0.231-0.058-0.329-0.068
c-0.052,0-0.095-0.008-0.153-0.007l-0.192,0.018l-0.049,0.004l-0.003,0.002H4.191L4.17,24.799l-0.084,0.016
c-0.055,0.013-0.113,0.019-0.162,0.038c-0.104,0.031-0.2,0.073-0.296,0.128c-0.098,0.056-0.201,0.126-0.318,0.186
c-0.114,0.065-0.244,0.108-0.369,0.148c-0.056,0.012-0.108,0.022-0.162,0.035l-0.08,0.016l-0.021,0.004
c-0.026,0.006-0.019,0.003-0.029,0.004l-0.044,0.004C2.49,25.387,2.383,25.405,2.274,25.395z M7.409,24.323
c0.007-0.001,0.01-0.003,0.002,0H7.409z M21.363,0.734c0,0-0.019-0.119-0.075-0.119c-0.056,0-0.081,0.119-0.081,0.119
s-0.373,7.736-0.382,7.976h0.966C21.773,8.471,21.363,0.734,21.363,0.734z M16.041,9.854l0.892-0.369
c-0.107-0.216-3.445-7.207-3.445-7.207s-0.063-0.104-0.117-0.081c-0.052,0.022-0.029,0.142-0.029,0.142S15.957,9.63,16.041,9.854z
 M12.058,12.74l0.685-0.683c-0.183-0.156-5.941-5.337-5.941-5.337S6.703,6.649,6.662,6.689C6.622,6.729,6.69,6.831,6.69,6.831
S11.895,12.564,12.058,12.74z M2.261,13.528c0,0,7.006,3.305,7.225,3.404l0.369-0.892c-0.229-0.077-7.534-2.657-7.534-2.657
s-0.115-0.028-0.138,0.023C2.161,13.461,2.261,13.528,2.261,13.528z M8.71,20.824c-0.238,0.017-7.976,0.428-7.976,0.428
s-0.119,0.019-0.119,0.075s0.119,0.083,0.119,0.083s7.737,0.373,7.976,0.381V20.824z M9.485,25.683
c-0.215,0.107-7.207,3.448-7.207,3.448s-0.102,0.061-0.08,0.112c0.021,0.054,0.142,0.031,0.142,0.031s7.289-2.615,7.515-2.7
L9.485,25.683z M12.058,29.875c-0.155,0.181-5.336,5.941-5.336,5.941s-0.071,0.098-0.03,0.137c0.04,0.041,0.141-0.025,0.141-0.025
s5.735-5.207,5.91-5.37L12.058,29.875z M13.384,40.293c0,0-0.028,0.117,0.025,0.14c0.052,0.022,0.12-0.078,0.12-0.078
s3.304-7.006,3.403-7.224l-0.892-0.369C15.967,32.989,13.384,40.293,13.384,40.293z M21.253,41.881c0,0,0.018,0.119,0.074,0.119
c0.059,0,0.083-0.119,0.083-0.119s0.371-7.737,0.381-7.975h-0.966C20.843,34.144,21.253,41.881,21.253,41.881z M26.574,32.762
l-0.892,0.369c0.107,0.215,3.446,7.206,3.446,7.206s0.063,0.103,0.117,0.08c0.052-0.021,0.029-0.141,0.029-0.141
S26.658,32.986,26.574,32.762z M30.558,29.875l-0.683,0.683c0.181,0.158,5.942,5.337,5.942,5.337s0.096,0.071,0.137,0.031
c0.04-0.04-0.027-0.142-0.027-0.142S30.721,30.051,30.558,29.875z M40.354,29.087c0,0-7.006-3.305-7.224-3.403l-0.37,0.891
c0.229,0.077,7.535,2.658,7.535,2.658s0.114,0.027,0.137-0.024S40.354,29.087,40.354,29.087z M41.882,21.205
c0,0-7.736-0.373-7.976-0.381v0.967c0.24-0.018,7.976-0.428,7.976-0.428S42,21.345,42,21.288C42,21.23,41.882,21.205,41.882,21.205z
 M33.132,16.933c0.214-0.107,7.205-3.448,7.205-3.448s0.103-0.061,0.081-0.112c-0.022-0.054-0.141-0.031-0.141-0.031
s-7.291,2.615-7.517,2.7L33.132,16.933z M30.558,12.742c0.158-0.183,5.337-5.943,5.337-5.943s0.07-0.097,0.032-0.137
c-0.042-0.041-0.143,0.025-0.143,0.025s-5.735,5.208-5.909,5.372L30.558,12.742z M29.232,2.32c0,0,0.029-0.116-0.024-0.138
c-0.054-0.022-0.121,0.078-0.121,0.078s-3.305,7.006-3.403,7.225l0.891,0.369C26.651,9.626,29.232,2.32,29.232,2.32z M22.066,27.524
c-0.22,0-0.673,0.011-0.706,0.011c-0.039,0-0.507-0.011-0.836-0.011c-0.081,0-0.114,0.011-0.114,0.039
c0,0.016,0.033,0.038,0.056,0.038c0.067,0,0.19,0.006,0.247,0.012c0.239,0.021,0.279,0.098,0.296,0.261
c0.017,0.147,0.288,3.683,0.288,3.683s0.018,0.075,0.071,0.075c0.055,0,0.077-0.075,0.077-0.075s0.236-3.535,0.244-3.683
c0.017-0.168,0.058-0.233,0.255-0.261c0.082-0.012,0.131-0.012,0.181-0.012c0.025,0,0.056-0.022,0.056-0.038
C22.181,27.535,22.15,27.524,22.066,27.524z M17.177,30.214c-0.138-0.099-0.174-0.167-0.101-0.351
c0.033-0.077,0.057-0.119,0.082-0.162c0.013-0.022,0.01-0.061-0.005-0.069c-0.022-0.014-0.051,0.01-0.092,0.08
c-0.11,0.191-0.325,0.59-0.343,0.618c-0.02,0.035-0.263,0.436-0.427,0.719c-0.04,0.071-0.047,0.105-0.022,0.12
c0.015,0.007,0.049-0.01,0.062-0.031c0.033-0.056,0.099-0.159,0.132-0.207c0.139-0.195,0.226-0.192,0.374-0.128
c0.139,0.062,3.336,1.591,3.336,1.591s0.073,0.02,0.101-0.028c0.027-0.047-0.024-0.104-0.024-0.104S17.301,30.296,17.177,30.214z
 M26.183,30.931c0.033,0.048,0.1,0.151,0.133,0.207c0.012,0.021,0.047,0.038,0.062,0.031c0.026-0.015,0.017-0.049-0.023-0.12
c-0.164-0.283-0.407-0.684-0.427-0.719c-0.018-0.028-0.232-0.427-0.342-0.618c-0.042-0.07-0.067-0.094-0.094-0.08
c-0.012,0.009-0.016,0.047-0.003,0.069c0.024,0.043,0.05,0.085,0.081,0.162c0.073,0.184,0.037,0.252-0.1,0.351
c-0.124,0.082-3.072,2.048-3.072,2.048s-0.052,0.057-0.023,0.104c0.025,0.048,0.099,0.028,0.099,0.028s3.2-1.529,3.337-1.591
C25.957,30.738,26.045,30.735,26.183,30.931z M16.883,17.198c0,0.033,0.022,0.066,0.089,0.066c0.098,0,0.342,0.022,0.496,0.045
c0.332,0.044,0.398,0.287,0.432,0.608c0.037,0.316,0.048,0.829,0.053,1.46c0,0.256,0,0.561,0,0.935v1.943
c0,1.06,0,1.932-0.055,2.396c-0.017,0.123-0.038,0.235-0.066,0.329c-0.058,0.147-0.16,0.25-0.363,0.277
c-0.154,0.022-0.398,0.044-0.496,0.044c-0.066,0-0.089,0.032-0.089,0.066c0,0.055,0.054,0.088,0.176,0.088
c0.081,0,0.165-0.002,0.247-0.002c0.01,0,0.018,0.002,0.028,0.002c0.271,0,0.783-0.021,0.992-0.03
c0.048-0.002,0.08-0.003,0.09-0.003c0.061,0,0.751,0.033,1.357,0.033l0,0h0.001c0.122,0,0.177-0.033,0.177-0.088
c0-0.034-0.021-0.066-0.089-0.066c-0.099,0-0.341-0.021-0.495-0.044c-0.332-0.045-0.398-0.288-0.432-0.606
c-0.054-0.465-0.054-1.337-0.054-2.396v-0.988c0.004-0.046,0.032-0.057,0.063-0.057h4.681c0.032,0,0.065,0.022,0.065,0.066v0.979
c0,0.266,0,0.519,0,0.756c-0.003,0.714-0.014,1.292-0.053,1.641c-0.002,0.001-0.003,0.004-0.003,0.004
c-0.014,0.106-0.03,0.203-0.055,0.288c-0.053,0.167-0.155,0.284-0.374,0.314c-0.155,0.022-0.398,0.044-0.497,0.044
c-0.067,0-0.089,0.032-0.089,0.066c0,0.055,0.055,0.088,0.177,0.088c0.081,0,0.164-0.002,0.247-0.002
c0.011,0,0.018,0.002,0.03,0.002c0.331,0,1.025-0.033,1.081-0.033s0.751,0.033,1.356,0.033l0,0c0.093,0,0.146-0.019,0.167-0.051
c0.007-0.012,0.011-0.022,0.011-0.037c0-0.034-0.022-0.066-0.088-0.066c-0.1,0-0.342-0.021-0.499-0.044
c-0.33-0.045-0.396-0.288-0.429-0.606c-0.054-0.465-0.054-1.337-0.054-2.396v-1.943c0-0.19,0-0.36,0-0.518
c0-0.823,0.009-1.492,0.053-1.877c0.033-0.321,0.1-0.564,0.43-0.608c0.157-0.022,0.399-0.045,0.499-0.045
c0.065,0,0.088-0.033,0.088-0.066c0-0.055-0.055-0.088-0.178-0.088c-0.08,0-0.163,0-0.246,0.002c-0.009,0-0.017-0.002-0.027-0.002
c-0.31,0-0.935,0.029-1.063,0.033c-0.009,0-0.016,0-0.02,0c-0.056,0-0.75-0.033-1.248-0.033c-0.003,0-0.003,0-0.005,0
c-0.035,0-0.071,0-0.105,0c-0.122,0-0.177,0.033-0.177,0.088c0,0.033,0.021,0.066,0.089,0.066c0.099,0,0.342,0.022,0.497,0.045
c0.33,0.044,0.396,0.287,0.432,0.608c0.053,0.463,0.053,1.335,0.053,2.395v0.232c0,0.054-0.033,0.065-0.065,0.065h-1.983v-5.959
h2.118c0.082,0.037,0.127,0.098,0.147,0.189c0.021,0.076,0.026,0.165,0.026,0.213c0,0.027,0.013,0.055,0.038,0.055
c0.037,0,0.051-0.035,0.051-0.109c0-0.227-0.019-0.658-0.019-0.692c0-0.035,0.019-0.467,0.019-0.672c0-0.075-0.014-0.11-0.051-0.11
c-0.025,0-0.038,0.028-0.038,0.056c0,0.048-0.006,0.09-0.021,0.17c-0.023,0.136-0.085,0.2-0.203,0.232h-2.068v-2.01
c0.013-0.219,0.067-0.326,0.253-0.358c0.082-0.012,0.123-0.018,0.171-0.018c0.028,0,0.055-0.013,0.055-0.038
c0-0.037-0.034-0.051-0.108-0.051c-0.206,0-0.639,0.021-0.673,0.021c-0.033,0-0.466-0.021-0.691-0.021
c-0.076,0-0.11,0.014-0.11,0.051c0,0.025,0.027,0.038,0.056,0.038c0.048,0,0.137,0.006,0.211,0.023
c0.151,0.033,0.221,0.141,0.233,0.353v2.01h-2.08c-0.115-0.032-0.179-0.097-0.201-0.232c-0.014-0.08-0.021-0.122-0.021-0.17
c0-0.027-0.012-0.056-0.038-0.056c-0.037,0-0.05,0.035-0.05,0.11c0,0.205,0.02,0.637,0.02,0.672c0,0.034-0.02,0.466-0.02,0.692
c0,0.074,0.013,0.109,0.05,0.109c0.026,0,0.038-0.027,0.038-0.055c0-0.048,0.007-0.137,0.025-0.213
c0.019-0.092,0.068-0.152,0.148-0.189h2.128v5.959h-2.093c-0.031,0-0.06-0.012-0.063-0.056v-0.242c0-1.06,0-1.932,0.054-2.395
c0.033-0.321,0.1-0.564,0.432-0.608c0.154-0.022,0.396-0.045,0.495-0.045c0.067,0,0.089-0.033,0.089-0.066
c0-0.055-0.055-0.088-0.177-0.088c-0.081,0-0.164,0-0.248,0.002c-0.011,0-0.018-0.002-0.029-0.002c-0.33,0-1.021,0.033-1.081,0.033
c-0.015,0-0.068-0.001-0.148-0.004c-0.241-0.01-0.727-0.029-1.099-0.029c-0.003,0-0.004,0-0.008,0c-0.034,0-0.069,0-0.103,0
C16.937,17.11,16.883,17.144,16.883,17.198z M28.304,25.184c-0.742,0-1.471-0.309-1.637-1.127c-0.033-0.155-0.033-0.31-0.033-0.409
c0-0.089-0.012-0.122-0.078-0.122c-0.055,0-0.075,0.056-0.087,0.177c-0.012,0.178-0.057,0.62-0.057,1.173
c0,0.299,0.012,0.342,0.166,0.418c0.454,0.223,0.963,0.299,1.482,0.299c0.596,0,1.192-0.133,1.667-0.464
c0.764-0.54,0.94-1.381,0.94-1.835c0-0.884-0.311-1.567-1.613-2.598l-0.309-0.241c-1.063-0.831-1.349-1.228-1.349-1.858
c0-0.807,0.596-1.282,1.357-1.282c1.019,0,1.315,0.56,1.383,0.682c0.066,0.12,0.132,0.419,0.143,0.553
c0.012,0.088,0.022,0.144,0.089,0.144c0.056,0,0.078-0.078,0.078-0.256c0-0.75,0.044-1.115,0.044-1.171
c0-0.055-0.022-0.066-0.11-0.076c-0.122-0.017-0.289-0.059-0.5-0.102c-0.275-0.066-0.484-0.159-0.915-0.159
c-1.404,0-2.289,0.807-2.289,1.989c0,0.751,0.266,1.437,1.438,2.397l0.497,0.411c0.951,0.783,1.27,1.226,1.27,1.988
C29.882,24.423,29.363,25.184,28.304,25.184z M14.322,17.918c0.033-0.321,0.1-0.564,0.432-0.608
c0.153-0.022,0.397-0.045,0.496-0.045c0.067,0,0.089-0.033,0.089-0.066c0-0.055-0.057-0.088-0.177-0.088
c-0.606,0-1.304,0.033-1.357,0.033c-0.056,0-0.75-0.033-1.358-0.033c-0.12,0-0.177,0.033-0.177,0.088
c0,0.033,0.023,0.066,0.088,0.066c0.099,0,0.343,0.022,0.497,0.045c0.331,0.044,0.397,0.287,0.431,0.608
c0.055,0.463,0.055,1.335,0.055,2.395v1.943c0,1.06,0,1.932-0.055,2.396c-0.033,0.318-0.1,0.562-0.431,0.606
c-0.154,0.022-0.398,0.044-0.497,0.044c-0.064,0-0.088,0.032-0.088,0.066c0,0.055,0.057,0.088,0.177,0.088
c0.608,0,1.303-0.033,1.358-0.033c0.054,0,0.751,0.033,1.357,0.033c0.12,0,0.177-0.033,0.177-0.088c0-0.034-0.021-0.066-0.089-0.066
c-0.099,0-0.343-0.021-0.496-0.044c-0.332-0.045-0.398-0.288-0.432-0.606c-0.055-0.465-0.055-1.337-0.055-2.396v-1.943
C14.268,19.253,14.268,18.381,14.322,17.918z"></path>
    </symbol>
  </svg>
</div>