.article-detail {
  $text-max-width: 772px; // 8col@L
  $text-max-width-xl: 874px; // 8col@XL

  @include distance( 'margin-top', 'medium' );
  @include distance( 'margin-bottom', 'medium' );

  &__header {
    @include distance( 'margin-bottom', 'mini' );

    margin-left: auto;
    margin-right: auto;
    max-width: $text-max-width;

    @include media(">=xl") {
      max-width: $text-max-width-xl;
    }
  }

  &__date {
    display: block;
    font-size: 0.875rem;

    @include distance( 'margin-bottom', 'mini');
  }

  &__meta {
    font-size: 0.875rem;

    @include distance( 'margin-bottom', 'mini');
  }

  &__icon {
    margin-right: 0.75rem;
  }

  &__kicker {
    display: inline-block;
    font-size: 0.875rem;

    a {
      display: inline-block;
      margin-right: 1rem;
      margin-bottom: 0.5rem;
      font-family: $mono;
      font-weight: 500;
      letter-spacing: 1.4px;
      text-transform: uppercase;
      padding-bottom: 2px;
      border-bottom: 2px solid $secondary;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    @include heading(1);

    font-weight: 600;

    @include distance('margin-bottom', 'small');
  }

  &__image {
    display: block;
    width: auto;
    max-width: $text-max-width;
    margin-left: auto;
    margin-right: auto;

    @include distance( 'margin-bottom', 'medium' );

    @include media(">=xl") {
      max-width: 1096px; //10col
    }

    img {
      display: block;
    }

    figcaption {
      font-size: 0.875rem;
      margin-top: 1rem;
    }
  }

  &__content-wrapper {
    margin-left: auto;
    margin-right: auto;

    @include distance( 'padding-bottom', 'small' );

    max-width: $text-max-width;

    @include media(">=xl") {
      max-width: $text-max-width-xl;
    }
  }

  &__content {
    @include distance( 'margin-bottom', 'small' );
    @include smaller-headings();

    img {
      height: auto;
    }
  }

  &__tags {
    .tag {
      margin-left: 8px;
      margin-right: 8px;
      margin-bottom: 12px;
    }
  }
}
