.reading-detail {
  $bp-expand: '>=l';
  $story-image-expand: 360px;
  $story-image-xl: 440px;
  $story-image-xxl: 480px;

  &__header {
    position: relative;

    @include distance('margin-bottom', 'small');
  }

  &__author {
    @include distance( 'margin-top', 'mini' );
    @include distance( 'margin-bottom', 'small' );
    @include heading(3);

    font-weight: 600;

    @include media($bp-expand) {
      max-width: percentage(7/12);
      padding-right: 24px;
    }
  }

  &__header-wrapper {
    position: relative;

    @include media($bp-expand) {
      display: flex;
      align-items: flex-start;
    }
  }

  &__header-content {
    --background: #fff;

    display: block;
    position: relative;
    background: var(--background);
    max-width: 100vw;
    padding-top: 20px;

    @include distance('padding-bottom', 'small');
    @include distance('padding-right', 'small');

    @include media($bp-expand) {
      flex: 1 1 auto;
      max-width: auto;
      padding-top: 40px;
      padding-right: 120px;
      min-height: $story-image-expand;
    }

    @include media('>=xl') {
      min-height: $story-image-xl;
    }

    @include media('>=xxl') {
      min-height: $story-image-xxl;
    }

    //Background overflow
    &::after {
      content: '';
      position: absolute;
      // Prevents Firefox from including the scrollbar
      width: calc(100vw - 16px);
      height: 100%;
      // Fill the missing pixels with a solid box-shadow
      box-shadow: 16px 0 0 0 var(--background), -16px 0 0 0 var(--background);
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: var(--background);
      z-index: -1;

      @include media($bp-expand) {
        width: 50vw;
        left: auto;
        right: -32px;
      }
    }

    //No image: simulate "negative padding"
    &:only-child {
      min-height: 360px;
      box-shadow: 32px 0 0 0 var(--background), -32px 0 0 0 var(--background);

      &::after {
        content: none;
      }
    }
  }

  &--story &__header-content {
    @include media($bp-expand) {
      box-shadow: 50px 0 0 0 var(--background);
    }
  }

  &__subtitle {
    margin-top: 0;
  }

  &__meta {
    @include distance('margin-top', 'huge');
    @include distance('margin-bottom', 'small');

    @include media($bp-expand) {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
  }

  &--story &__meta {
    display: none;
  }

  &__meta-item {
    margin-bottom: 16px;

    &:first-child {
      margin-right: 10rem;
    }
  }

  &__image {
    width: 100%;
    flex: 1 0 340px;
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0;
    box-shadow: 4px 4px 0 whiten($secondary, 1);

    img {
      width: 100%;
      height: auto;
    }

    @include media($bp-expand) {
      z-index: -1;
      position: relative;
      top: -3.75rem;
    }
  }

  &--story &__image {
    max-width: none;
    box-shadow: none;

    @include responsive-media-wrapper(3,2);

    @include media($bp-expand) {
      flex-basis: 360px;
      max-width: 360px;

      &::before {
        padding-top: 100%;
      }
    }

    @include media(">=xl") {
      flex-basis: 440px;
      max-width: 440px;
    }

    @include media(">=xxl") {
      flex-basis: 480px;
      max-width: 480px;
    }
  }

  &__content {
    @include media(">=xl") {
      margin-left: auto;
      order: 2;
    }
  }
}
