.carousel {
  &__title {
    @include heading(4);

    margin-top: 1.5rem;
    margin-bottom: 1.25rem;
    text-align: center;
    font-weight: 600;
  }

  &__slider {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  &__slide {
    width: 100%;
    margin: 0 6px;

    @include media(">=xs") {
      width: calc((100% - 12px) / 2);
    }

    @include media(">=m") {
      width: calc((100% - 24px) / 3);
    }

    @include media(">=xl") {
      width: calc((100% - 36px) / 4);
    }
  }

  .flickity-prev-next-button {
    transform: none;
    top: 0;
    background-color: transparent;
    border: 1px solid $primary;
    width: 30px;
    height: 30px;
    color: $primary;
    margin: 0;
    padding: 0; //TODO: insert generic button reset in framework?

    .flickity-button-icon {
      position: absolute;
      left: 25%;
      top: 25%;
      width: 50%;
      height: 50%;
    }

    &.previous {
      left: calc(50% - 30px - 6px);
    }

    &.next {
      right: calc(50% - 30px - 6px);
    }
  }

  .flickity-page-dots {
    bottom: 0;

    .dot {
      background-color: whiten($primary, 3);
      border: none;
      width: 12px;
      height: 12px;
      opacity: 1;

      &.is-selected {
        background-color: $primary;
      }
    }
  }
}
