.featured {
  position: relative;

  @include media(">=s") {
    padding-top: 64px;
  }

  @include media(">=xxl") {
    padding-top: 72px;
  }

  &__content {
    padding: 18px;
    background-color: transparent;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
    position: absolute;
    bottom: 0;
    height: 100%;

    @include media(">=s") {
      position: relative;
      height: 24rem;
      width: 65%;
      background-color: $primary;
    }

    @include media(">=m") {
      height: 376px;
      width: 75%;
    }

    @include media(">=l") {
      width: 600px;
      height: 600px;
    }

    @include media(">=xxl") {
      width: 675px;
      height: 675px;
    }
  }

  &__title {
    flex: 0 0 auto;
    margin-bottom: 0.375rem;

    @include heading(3);

    @include media(">=l") {
      @include heading(1);
    }

    font-weight: 600;

    a:hover {
      color: var(--primary-light-5);
    }
  }

  &__bottom {
    flex: 0 1 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  &__text {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.7;
    word-wrap: break-word;
    overflow: hidden;
    flex: 0 0 auto;
    display: none;

    @include media(">=xs") {
      display: block;
      display: -webkit-box;
      max-height: 89.25rem;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 6;
    }

    @include media(">=s") {
      max-height: none;
      -webkit-line-clamp: unset;
    }

    @include media('>=m') {
      font-size: 1rem;
    }
  }

  &__btn {
    flex: 0 0 auto;

    & a {
      @include special-link(false, true, 1, 0);

      &:first-child {
        margin-top: 1rem;

        @include media('>=m') {
          margin-top: 1.5rem;
        }
      }

      &:hover {
        border-bottom-color: white;
      }
    }
  }

  &__image {
    @include responsive-media-wrapper(1, 1);

    background-color: $primary;

    @include media(">=s") {
      position: absolute;
      order: 1;
      margin-left: auto;
      right: 0;
      top: 0;
      z-index: 1;
      width: 60%;
    }

    @include media(">=m") {
      width: 440px;
    }

    @include media(">=l") {
      width: 664px;
    }

    @include media(">=xxl") {
      width: 747px;
    }

    img {
      opacity: 0.4;

      @include media(">=s") {
        opacity: 1;
      }
    }

    a {
      transition: opacity linear 0.1s;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &--carousel {
    &.carousel {
      &__slide {
        width: 100%;
      }
    }
  }
}
