.hero {
  @include distance('margin-bottom', 'medium');

  @include media(">=m") {
    padding-top: 1rem;
  }

  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 25vw;
    z-index: -1;
    background-color: $primary;

    @include media(">=m") {
      height: 20rem;
    }
  }

  &__header {
    @include distance( 'margin-bottom', 'small' );

    color: $white;
    position: relative;
  }

  &__kicker {
    @include item-kicker;

    color: $white;
  }

  &__title {
    @include heading(1);

    font-weight: 600;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__share {
    text-align: right;

    @include media(">=m") {
      position: absolute;
      right: 0;
      top: 0;
    }

    &-item {
      display: inline-block;
      margin-bottom: -8px;

      a {
        padding: 8px;
        display: block;

        svg {
          display: block;
        }
      }
    }
  }

  &__image {
    @include responsive-media-wrapper(2, 1);

    background-color: $body-color;
    border: 4px solid $body-color;
  }

  &__special-box {
    position: relative;
    z-index: 1;
    margin: -65px 8px 0;
    border-top: 4px solid $primary;
    background-color: $grey-01;
    padding: 30px 15px;

    @include media(">=s") {
      margin: -65px 36px 0;
    }

    &-title {
      @include heading(6);
      @include distance('margin-bottom', 'mini');

      font-weight: 700;
    }

    &-text {
      font-family: $serif;
      hanging-punctuation: first last;
      font-weight: 400;

      @include typoscale(1.25, 1.5, 0, 0);

      @include media(">=m") {
        @include typoscale(1.875, 2, 0, 0);
      }
    }
  }
}
