.newsletter {
  justify-content: center;
  position: relative;
  z-index: 1;

  &__heading {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;

    @include media(">=xl") {
      min-height: 18.75rem;
      padding-left: 10rem;
    }
  }

  &__logo {
    position: absolute;
    left: -9.375rem;
    top: 0;
    height: 18.75rem;
    width: 18.75rem;
    z-index: -1;
    fill: currentColor;
    opacity: 0.15;

    @include media(">=xl") {
      left: 0.5rem;
    }
  }

  &__title {
    @include heading(1);

    font-weight: 600;
  }

  &__form {
    position: relative;
    z-index: 2;
    max-width: 21rem;
    margin: 0 auto;

    a {
      color: $support;
      text-decoration: underline;

      &:hover {
        color: blacken($primary, 1);
      }
    }

    .radio {
      @include distance('margin-bottom', 'micro');
    }

    input[type=submit] {
      @include distance('margin-top', 'small');
    }
  }
}
