.news-dashboard {
  &__title {
    @include heading(3);

    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    font-weight: 600;
  }

  &__selector {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1.25rem;

    @include media(">=m") {
      margin-top: 1.25rem;
    }

    .special-link {
      white-space: nowrap;
      margin: 0;

      @include distance('margin-right', 'small');
    }

    .select-wrapper {
      flex: 1;

      select {
        margin-bottom: 0;
      }
    }
  }
}
