$item-special-background: whiten($tertiary, 5) !default;

.special {
  @include media(">=m", "<l") {
    margin-bottom: -4rem;
  }

  @include media(">=l") {
    padding-top: 4rem;
  }

  &__wrapper {
    position: relative;
    z-index: 1;
  }

  &__image {
    @include responsive-media-wrapper();

    width: 100%;
    z-index: 2;
    display: block;

    @include media(">=s") {
      margin-left: auto;
      top: -4rem;
      width: 80%;
    }

    @include media(">=m") {
      position: relative;
      width: 80%;
    }

    @include media(">=l") {
      position: absolute;
      right: 0;
      width: 60%;
    }
  }

  &__content {
    position: relative;
    z-index: 3;
    width: 100%;

    @include media(">=s") {
      width: 80%;
    }

    @include media(">=l") {
      width: 60%;
    }

    &::after {
      content: '';
      display: none;
      padding-top: 66.66%;

      @include media(">=xl") {
        display: block;
      }
    }

    &-inner {
      padding: 18px;
      background-color: $item-special-background;

      @include media(">=xs") {
        padding: 24px;
      }

      @include media(">=xl") {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
      }
    }
  }

  &__kicker {
    @include item-kicker('inherit');
  }

  &__title {
    @include heading(1);

    font-weight: 600;

    a:hover {
      color: var(--primary-dark-2);
    }
  }

  &__text {
    font-size: 1.125rem;
    line-height: 1.625rem;
    font-weight: 400;
    hanging-punctuation: first last;
    margin-top: 1rem;

    @include distance('margin-bottom', 'medium');

    .invert & {
      color: $white;
    }

    b,
    strong {
      font-weight: 500;
    }

    @include media(">=m") {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }

  &__btn {
    a {
      @include special-link(false, false, 0.25, 1);

      &:first-child {
        margin-right: 1.5rem;
      }
    }
  }

  &--full {
    .special__wrapper::after {
      content: '';
      position: absolute;
      // Prevents Firefox from including the scrollbar
      width: calc(100vw - 16px);
      // Fill the missing pixels with a solid box-shadow
      box-shadow: 16px 0 0 0 $item-special-background, -16px 0 0 0 $item-special-background;
      top: 0;
      bottom: 8rem;
      left: 50%;
      transform: translateX(-50%);
      background-color: $item-special-background;
      z-index: 1;

      @include media(">=l") {
        bottom: 0;
      }
    }
  }

  &--half {
    .special__wrapper::after {
      content: '';
      position: absolute;
      width: 50vw;
      top: 0;
      bottom: 8rem;
      right: 50%;
      background-color: $item-special-background;
      z-index: 1;

      @include media(">=l") {
        bottom: 0;
      }
    }
  }

  &--offset {
    @include media(">=m", "<l") {
      margin-top: -4rem;
      margin-bottom: 0;
    }

    @include media(">=l") {
      padding-bottom: 4rem;
      padding-top: 0;
    }

    .special {
      &__wrapper {
        display: flex;
        flex-direction: column;
      }

      &__image {
        order: 1;

        @include media(">=s") {
          right: auto;
          left: 0;
          top: auto;
          bottom: -4rem;
        }

        @include media(">=m") {
          margin-right: auto;
          margin-left: 0;
        }

        @include media(">=l") {
          position: absolute;
          width: 60%;
        }
      }

      &__content {
        margin-left: auto;
        order: 2;
      }
    }
  }
}
