.template-header {
  @include distance('padding-bottom', 'small' );

  &__title {
    @include heading(1);
    @include distance( 'padding-top', 'small' );
    @include distance( 'padding-bottom', 'small' );

    border-bottom: 1px solid whiten($primary, 3);
    font-weight: 600;
  }

  &__breadcrumbs {
    @include distance('padding-top', 'small');

    display: flex;
    flex-wrap: wrap;
    line-height: 1.5;

    .icon {
      @include distance('margin-right', 'micro');
    }

    a {
      font-weight: 500;
      padding-right: 1.857rem;
      position: relative;
      white-space: nowrap;

      &::after {
        content: '/';
        font-weight: 400;
        position: absolute;
        right: 0.75rem;
      }
    }
  }
}
